<include file="public/head" />
<link href="/Public/index/templets/in_dd/css/list_act_img.css" type="text/css" rel="stylesheet" />

<include file="public/top" />

<include file="public/menu" />


<div id="main" class="main">

    <div id="div-goods" class="div-goods">
        <div class="div">
            <div class="box">
                <div class="row-title">
                    <h2>火爆单品 活动亏本抢 热销系列</h2>
                </div>
                <div class="block row-list row-list-border">
                    <em><img src="http://www.daqianchao.com/templets/indd/image/img/jiao.png"> </em>
                    <em><img src="http://www.daqianchao.com/templets/indd/image/img/jiao.png"> </em>
                    <em><img src="http://www.daqianchao.com/templets/indd/image/img/jiao.png"> </em>
                    <em><img src="http://www.daqianchao.com/templets/indd/image/img/jiao.png"> </em>
                    <div class="ul d-img auto_size_img">
                        <ul>
                      <volist name="hot" id="vo" mod="1">
                            <li>
                                <div class="c-box">
                                    <a class="c-img" href="{:U('protuct/detail',array('id'=>$vo['id'],'pid'=>$vo['pid']))}">
                                        <img src="/Uploads/{$vo.img}" alt="{$vo.title}" title="{$vo.title}"/>
                                    </a>
                                </div>
                                <div class="c-info">
                                    <!--<p><u>纯高粱酿造，黔朝·荷花酒</u></p>-->
                                    <a href="">{$vo.title}</a>
                                    <ins><a href="javascript:;" rel="nofollow"  class="th1" onclick="openwindow('http://p.qiao.baidu.com/cps/chat?siteId=12855406&userId=26897337','',750,664)">点击咨询</a></ins>
                                    <dl>
                                        <dt><b>香型：</b>{$vo.xiang}</dt>
                                        <dt><b>原料：</b>{$vo.yuan}</dt>
                                        <dt><b>净含量：</b>{$vo.han}</dt>
                                        <dt><b>酒精度：</b>{$vo.du}</dt>
                                        <dt><b>产地：</b>{$vo.address}</dt>
                                    </dl>
                                </div>
                            </li>
                    <eq name="mod" value="2" >
                            <li>
                                <div class="c-box">
                                    <a class="c-img" href="{:U('protuct/detail',array('id'=>$vo['id'],'pid'=>$vo['pid']))}">
                                        <img src="/Uploads/{$vo.img}" alt="{$vo.title}" title="{$vo.title}"/>
                                    </a>
                                </div>
                                <div class="c-info">
                                    <!--<p><u>纯高粱酿造，舌尖上的享受</u></p>-->
                                    <a href="">{$vo.title}</a>
                                    <!--span><small></small><i>￥99</i><e>起</e></span-->
                                    <ins><a href="javascript:;" rel="nofollow"  class="th1" onclick="openwindow('http://p.qiao.baidu.com/cps/chat?siteId=12855406&userId=26897337','',750,664)">点击咨询</a></ins>
                                    <dl>
                                        <dt><b>香型：</b>{$vo.xiang}</dt>
                                        <dt><b>原料：</b>{$vo.yuan}</dt>
                                        <dt><b>净含量：</b>{$vo.han}</dt>
                                        <dt><b>酒精度：</b>{$vo.du}</dt>
                                        <dt><b>产地：</b>{$vo.address}</dt>
                                    </dl>
                                </div>
                            </li>
                    </eq>

                      </volist>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript">
        //图片自适应
        $('.auto_size_img img').css({'height':'100%','width':'auto'});
    </script>
    <div id="div-goods_2" class="div-goods_2">
        <div class="div">
            <div class="box">
                <div class="row-title">
                    <h2>火爆单品 活动亏本抢 原浆系列</h2>
                </div>
                <div class="block row-list row-list-border">
                    <em><img src="http://www.daqianchao.com/templets/indd/image/img/jiao.png"> </em>
                    <em><img src="http://www.daqianchao.com/templets/indd/image/img/jiao.png"> </em>
                    <em><img src="http://www.daqianchao.com/templets/indd/image/img/jiao.png"> </em>
                    <em><img src="http://www.daqianchao.com/templets/indd/image/img/jiao.png"> </em>
                    <div class="ul d-img">
                        <ul>
                            <volist name="yuan" id="vo" >
                                <li>
                                    <div class="c-box">
                                        <a class="c-img" href="{:U('protuct/detail',array('id'=>$vo['id'],'pid'=>$vo['pid']))}">
                                            <img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="/Uploads/{$vo.img}" width="450" height="450" alt="{$vo.title}" title="{$vo.title}" />
                                        </a>
                                    </div>
                                    <div class="c-info">
                                        <a href="{:U('protuct/detail',array('id'=>$vo['id'],'pid'=>$vo['pid']))}">{$vo.title}</a>
                                        <ins><a href="javascript:;" rel="nofollow" class="th1" onclick="openwindow('http://p.qiao.baidu.com/cps/chat?siteId=12855406&userId=26897337','',750,664)">立即咨询</a>
                                            <a href="{:U('protuct/detail',array('id'=>$vo['id'],'pid'=>$vo['pid']))}" rel="nofollow" class="th1">点击详情</a></ins>
                                    </div>
                                </li>
                            </volist>


                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="div-goods_3" class="div-goods_3">
        <div class="div">
            <div class="box">
                <div class="row-title">
                    <h2>火爆单品 活动亏本抢 特色系列</h2>
                </div>
                <div class="block row-list row-list-border">
                    <em><img src="http://www.daqianchao.com/templets/indd/image/img/jiao.png"> </em>
                    <em><img src="http://www.daqianchao.com/templets/indd/image/img/jiao.png"> </em>
                    <em><img src="http://www.daqianchao.com/templets/indd/image/img/jiao.png"> </em>
                    <em><img src="http://www.daqianchao.com/templets/indd/image/img/jiao.png"> </em>
                    <div class="ul d-img">
                        <ul>
                            <volist name="style" id="vo">
                                <li>
                                    <div class="c-box">
                                        <a class="c-img" href="{:U('protuct/detail',array('id'=>$vo['id'],'pid'=>$vo['pid']))}">
                                            <img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="/Uploads/{$vo.img}" width="450" height="450" title="{$vo.title}" />
                                        </a>
                                    </div>
                                    <div class="c-info">
                                        <a href="{:U('protuct/detail',array('id'=>$vo['id'],'pid'=>$vo['pid']))}">{$vo.title}</a>
                                        <ins><a href="javascript:;" rel="nofollow" class="th1" onclick="openwindow('http://p.qiao.baidu.com/cps/chat?siteId=12855406&userId=26897337','',750,664)">立即咨询</a>
                                            <a href="{:U('protuct/detail',array('id'=>$vo['id'],'pid'=>$vo['pid']))}" rel="nofollow" class="th1">点击详情</a></ins>
                                    </div>
                                </li>
                            </volist>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<include file="public/foot" />
<script src="/Public/index/templets/in_dd/js/list_act_img.js" type="text/javascript"></script>



</body>
</html>

