<include file="public/head" />
    <link href="/Public/index/templets/in_dd/css/list_bjtp_cat.css" type="text/css" rel="stylesheet" />


<include file="public/top" />

<include file="public/menu" />



<div id="main" class="main">
    <div id="div-banner" class="div-banner"></div>

    <div id="div-path" class="div-path">
        <div class="div">
            <div class="box">

                <div class="block row-path">
                    <div>
                        <i>当前位置：</i>
                        <h1><a href="/">首页</a><small>&gt;</small>
                            <a href='http://www.daqianchao.com/oem/'>白酒贴牌</a>
                            <small>&gt;</small>
                            <a href='http://www.daqianchao.com/oem/tiepai/'>白酒贴牌</a></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="div-list" class="div-list">
        <div class="div">
            <div class="p-menu">
                <div class="box">

                    <div class="block row-menu">
                        <div class="h2"><h2>白酒贴牌</h2></div>
                        <div class="ul">
                            <ul>
                                <li class="col1"><a href="/oem/tiepai/jijiu/">基酒供应</a></li>
                                <li class="col2"><a href="/oem/tiepai/xiaoshou/">品牌销售</a></li>
                                <li class="col3"><a href="/oem/tiepai/tiepaioem/">贴牌OEM</a></li>
                                <li class="col4 col-1"><a href="/oem/tiepai/kaifa/">品牌开发</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="block row-hot">
                        <div class="h2"><h2>热门推荐</h2></div>
                        <div class="ul">
                            <ul>
                                <li><a href="http://www.daqianchao.com/oem/tiepai/xiaoshou/2021.html"><i>206</i><em>1</em><span>泥巴土坛酒</span></a></li>
                                <li><a href="http://www.daqianchao.com/oem/tiepai/kaifa/2028.html"><i>197</i><em>2</em><span>贵州酱酒</span></a></li>
                                <li><a href="http://www.daqianchao.com/oem/tiepai/jijiu/2020.html"><i>184</i><em>3</em><span>基酒4号</span></a></li>
                                <li><a href="http://www.daqianchao.com/oem/tiepai/jijiu/2019.html"><i>177</i><em>4</em><span>基酒3号</span></a></li>
                                <li><a href="http://www.daqianchao.com/oem/tiepai/tiepaioem/2023.html"><i>172</i><em>5</em><span>内部接待酒</span></a></li>
                                <li><a href="http://www.daqianchao.com/oem/tiepai/kaifa/2044.html"><i>162</i><em>6</em><span>茅台镇原浆酒</span></a></li>
                                <li><a href="http://www.daqianchao.com/oem/tiepai/xiaoshou/2039.html"><i>152</i><em>7</em><span>酒醅原浆</span></a></li>
                                <li><a href="http://www.daqianchao.com/oem/tiepai/jijiu/2018.html"><i>148</i><em>8</em><span>基酒2号</span></a></li>
                                <li><a href="http://www.daqianchao.com/oem/tiepai/jijiu/2017.html"><i>119</i><em>9</em><span>基酒1号</span></a></li>
                                <li><a href="http://www.daqianchao.com/oem/tiepai/kaifa/2027.html"><i>102</i><em>10</em><span>酱香白酒</span></a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-list">
                <div class="box">
                    <div class="block row-list">
                        <div class="ul b-list">
                            <ul>
                                <li>
                                    <div class="c-box">
                                        <a class="c-img" href="http://www.daqianchao.com/oem/tiepai/tiepaioem/2025.html"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180115/thumb_450_450_3-1P115114544M6.jpg" width="450" height="450"/><em>茅台镇贵宾酒</em></a>
                                    </div>
                                </li>
                                <li>
                                <div class="c-box">
                                    <a class="c-img" href="http://www.daqianchao.com/oem/tiepai/kaifa/2044.html"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180116/thumb_450_450_3-1P11616342W61.jpg" width="450" height="450"/><em>茅台镇原浆酒</em></a>
                                </div>
                            </li>
                                <li>
                                <div class="c-box">
                                    <a class="c-img" href="http://www.daqianchao.com/oem/tiepai/xiaoshou/2039.html"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180116/thumb_450_450_3-1P116115U55b.jpg" width="450" height="450"/><em>酒醅原浆</em></a>
                                </div>
                            </li>
                                <li>
                                <div class="c-box">
                                    <a class="c-img" href="http://www.daqianchao.com/oem/tiepai/tiepaioem/2029.html"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180115/thumb_450_450_3-1P115120212X7.jpg" width="450" height="450"/><em>国宾接待酒</em></a>
                                </div>
                            </li>
                                <li>
                                <div class="c-box">
                                    <a class="c-img" href="http://www.daqianchao.com/oem/tiepai/kaifa/2028.html"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180115/thumb_450_450_3-1P115115Q5b8.jpg" width="450" height="450"/><em>贵州酱酒</em></a>
                                </div>
                            </li>
                                <li>
                                <div class="c-box">
                                    <a class="c-img" href="http://www.daqianchao.com/oem/tiepai/kaifa/2027.html"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180115/thumb_450_450_3-1P1151152342V.jpg" width="450" height="450"/><em>酱香白酒</em></a>
                                </div>
                            </li>
                                <li>
                                <div class="c-box">
                                    <a class="c-img" href="http://www.daqianchao.com/oem/tiepai/kaifa/2026.html"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180115/thumb_450_450_3-1P115114949E7.jpg" width="450" height="450"/><em>贵州酱香白酒</em></a>
                                </div>
                            </li>
                                <li>
                                <div class="c-box">
                                    <a class="c-img" href="http://www.daqianchao.com/oem/tiepai/tiepaioem/2024.html"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180115/thumb_450_450_3-1P11511420KT.jpg" width="450" height="450"/><em>贵宾接待酒</em></a>
                                </div>
                            </li>
                                <li>
                                <div class="c-box">
                                    <a class="c-img" href="http://www.daqianchao.com/oem/tiepai/tiepaioem/2023.html"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180115/thumb_450_450_3-1P115113Z1W5.jpg" width="450" height="450"/><em>内部接待酒</em></a>
                                </div>
                            </li>
                            </ul>
                        </div>
                        <div class="ul d-pager">
                            <ul>
                                <li>首页</li>
                                <li class="thisclass">1</li>
                                <li><a href='list_176_2.html'>2</a></li>
                                <li><a href='list_176_2.html'>下一页</a></li>
                                <li><a href='list_176_2.html'>末页</a></li>
                                <li><select name='sldd' style='width:36px' onchange='location.href=this.options[this.selectedIndex].value;'>
                                    <option value='list_176_1.html' selected>1</option>
                                    <option value='list_176_2.html'>2</option>
                                </select></li>
                                <li><span class="pageinfo">共 <strong>2</strong>页<strong>15</strong>条</span></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="go2top" class="go2top">
    <div class="div">
        <div class="box">
            <div class="block row-btn">
                <a class="c-go2top" href="javascript:;"></a>
            </div>
        </div>
    </div>
</div>

<include file="public/foot" />
<script src="/Public/index/templets/in_dd/js/list_bjtp_cat.js" type="text/javascript"></script>


<include file="public/kefu" />
</body>
</html>



