<include file="public/head" />

    <link href="/Pubilc/index/templets/in_dd/css/list_arc_bjtp.css" type="text/css" rel="stylesheet" />



<include file="public/top" />

<include file="public/menu" />


<div id="main" class="main">

    <div class="div-banner" id="div-banner">
        <div class="div">
            <div class="box">
                <div class="row-banner">
                    <img src="http://www.daqianchao.com/templets/indd/image/oemtp/banner.jpg" />
                </div>
            </div>
        </div>
    </div>


    <div id="div-goods" class="div-goods">
        <div class="div">
            <div class="box">
                <div class="block row-ti">
                    <em>白酒贴牌</em>
                </div>
            </div>
            <div class="block row-menu">
                <div class="ul">
                    <ul>
                        <li><a href="/oem/tiepai/jijiu/">基酒供应</a></li>
                        <li><a href="/oem/tiepai/xiaoshou/">品牌销售</a></li>
                        <li><a href="/oem/tiepai/tiepaioem/">贴牌OEM</a></li>
                        <li><a href="/oem/tiepai/kaifa/">品牌开发</a></li>
                    </ul>
                </div>
            </div>
            <div class="block row-list">
                <div class="slide">
                    <div class="ul d-img">
                        <ul>
                            <li>
                                <div>
                                    <a class="c-img" href="http://www.daqianchao.com/oem/tiepai/jijiu/2020.html"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180115/thumb_300_300_3-1P115111439330.jpg" width="300" height="300"/></a>
                                    <span><a href="http://www.daqianchao.com/oem/tiepai/jijiu/2020.html">基酒4号</a></span>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a class="c-img" href="http://www.daqianchao.com/oem/tiepai/jijiu/2019.html"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180115/thumb_300_300_3-1P115111142232.jpg" width="300" height="300"/></a>
                                    <span><a href="http://www.daqianchao.com/oem/tiepai/jijiu/2019.html">基酒3号</a></span>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a class="c-img" href="http://www.daqianchao.com/oem/tiepai/jijiu/2018.html"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180115/thumb_300_300_3-1P115110R4L6.jpg" width="300" height="300"/></a>
                                    <span><a href="http://www.daqianchao.com/oem/tiepai/jijiu/2018.html">基酒2号</a></span>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a class="c-img" href="http://www.daqianchao.com/oem/tiepai/jijiu/2017.html"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180115/thumb_300_300_3-1P115110423206.jpg" width="300" height="300"/></a>
                                    <span><a href="http://www.daqianchao.com/oem/tiepai/jijiu/2017.html">基酒1号</a></span>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div><div class="slide">
                <div class="ul d-img">
                    <ul>
                        <li>
                            <div>
                                <a class="c-img" href="http://www.daqianchao.com/oem/tiepai/xiaoshou/2039.html"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180116/thumb_300_300_3-1P116115U55b.jpg" width="300" height="300"/></a>
                                <span><a href="http://www.daqianchao.com/oem/tiepai/xiaoshou/2039.html">酒醅原浆</a></span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a class="c-img" href="http://www.daqianchao.com/oem/tiepai/xiaoshou/2022.html"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180115/thumb_300_300_3-1P115113230500.jpg" width="300" height="300"/></a>
                                <span><a href="http://www.daqianchao.com/oem/tiepai/xiaoshou/2022.html">封坛原浆酒53度</a></span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a class="c-img" href="http://www.daqianchao.com/oem/tiepai/xiaoshou/2021.html"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180115/thumb_300_300_3-1P11511203H37.jpg" width="300" height="300"/></a>
                                <span><a href="http://www.daqianchao.com/oem/tiepai/xiaoshou/2021.html">泥巴土坛酒</a></span>
                            </div>
                        </li>

                    </ul>
                </div>
            </div><div class="slide">
                <div class="ul d-img">
                    <ul>
                        <li>
                            <div>
                                <a class="c-img" href="http://www.daqianchao.com/oem/tiepai/tiepaioem/2029.html"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180115/thumb_300_300_3-1P115120212X7.jpg" width="300" height="300"/></a>
                                <span><a href="http://www.daqianchao.com/oem/tiepai/tiepaioem/2029.html">国宾接待酒</a></span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a class="c-img" href="http://www.daqianchao.com/oem/tiepai/tiepaioem/2025.html"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180115/thumb_300_300_3-1P115114544M6.jpg" width="300" height="300"/></a>
                                <span><a href="http://www.daqianchao.com/oem/tiepai/tiepaioem/2025.html">茅台镇贵宾酒</a></span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a class="c-img" href="http://www.daqianchao.com/oem/tiepai/tiepaioem/2024.html"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180115/thumb_300_300_3-1P11511420KT.jpg" width="300" height="300"/></a>
                                <span><a href="http://www.daqianchao.com/oem/tiepai/tiepaioem/2024.html">贵宾接待酒</a></span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a class="c-img" href="http://www.daqianchao.com/oem/tiepai/tiepaioem/2023.html"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180115/thumb_300_300_3-1P115113Z1W5.jpg" width="300" height="300"/></a>
                                <span><a href="http://www.daqianchao.com/oem/tiepai/tiepaioem/2023.html">内部接待酒</a></span>
                            </div>
                        </li>

                    </ul>
                </div>
            </div><div class="slide">
                <div class="ul d-img">
                    <ul>
                        <li>
                            <div>
                                <a class="c-img" href="http://www.daqianchao.com/oem/tiepai/kaifa/2044.html"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180116/thumb_300_300_3-1P11616342W61.jpg" width="300" height="300"/></a>
                                <span><a href="http://www.daqianchao.com/oem/tiepai/kaifa/2044.html">茅台镇原浆酒</a></span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a class="c-img" href="http://www.daqianchao.com/oem/tiepai/kaifa/2028.html"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180115/thumb_300_300_3-1P115115Q5b8.jpg" width="300" height="300"/></a>
                                <span><a href="http://www.daqianchao.com/oem/tiepai/kaifa/2028.html">贵州酱酒</a></span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a class="c-img" href="http://www.daqianchao.com/oem/tiepai/kaifa/2027.html"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180115/thumb_300_300_3-1P1151152342V.jpg" width="300" height="300"/></a>
                                <span><a href="http://www.daqianchao.com/oem/tiepai/kaifa/2027.html">酱香白酒</a></span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a class="c-img" href="http://www.daqianchao.com/oem/tiepai/kaifa/2026.html"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180115/thumb_300_300_3-1P115114949E7.jpg" width="300" height="300"/></a>
                                <span><a href="http://www.daqianchao.com/oem/tiepai/kaifa/2026.html">贵州酱香白酒</a></span>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
            </div>
            <div class="block row-more">
                <a href="/oem/tiepai">点击更多+</a>
            </div>
        </div>
    </div>

    <div class="div-youshi" id="div-youshi">
        <div class="div">
            <div class="box">
                <div class="row-title">
                    <div class="col-wz">
                        <a href="javascript:">贴牌加工的优势</a>
                    </div>
                    <div class="col-hx"></div>
                    <div class="col-yw">The Advantage of the Processing of the oem</div>
                </div>
                <div class="row-youshi">
                    <div class="ul d-img">
                        <ul><li class="col1"><p style="background-image:url(http://www.daqianchao.com/templets/indd/image/oemtp/cont_1.png);">专注多年白酒贴牌生产、加工经验实力雄厚，产品生产均按国家标准严格执行。</p></li><li class="col2"><p style="background-image:url(http://www.daqianchao.com/templets/indd/image/oemtp/cont_2.png);">我公司生产设备采用国内高精尖设备，结合现代工艺，实现速度快，产量高。</p></li><li class="col3 col-1"><p style="background-image:url(http://www.daqianchao.com/templets/indd/image/oemtp/cont_3.png);">我公司有合法经营手续，正规的合法批文，让你的产品穿上合法外衣。</p></li></ul>
                    </div>
                </div>

                <div class="row-youshi1">
                    <div class="ul d-img">
                        <ul><li class="col1"><p style="background-image:url(http://www.daqianchao.com/templets/indd/image/oemtp/cont_4.png);">专注多年白酒贴牌生产、加工经验实力雄厚，产品生产均按国家标准严格执行。</p></li><li class="col2"><p style="background-image:url(http://www.daqianchao.com/templets/indd/image/oemtp/cont_5.png);">我公司生产设备采用国内高精尖设备，结合现代工艺，实现速度快，产量高。</p></li><li class="col3 col-1"><p style="background-image:url(http://www.daqianchao.com/templets/indd/image/oemtp/cont_6.png);">我公司有合法经营手续，正规的合法批文，让你的产品穿上合法外衣。</p></li></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="div-news" class="div-news">
        <div class="div">
            <div class="box">
                <div class="block row-ti">
                    <em>白酒贴牌新闻</em>
                </div>
                <div class="block row-list">
                    <div class="ul">
                        <ul>
                            <li>
                                <div class="c-box">
                                    <ins class="c-date"><u><i>0</i><b>1</b></u><em>2018-03-06</em></ins>
                                    <ins class="c-pic"><a class="c-img" href="http://www.daqianchao.com/oem/news/2234.html"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/allimg/180306/thumb_312_165_3-1P3061K33EG.jpg" width="312" height="165" /></a></ins>
                                    <ins class="c-title">
                                        <span><a href="http://www.daqianchao.com/oem/news/2234.html">白酒贴牌市场前景好</a></span>
                                        <p>要知道，在以往的几十年里，在 白酒贴牌 还没有发展起来的时候，在国内如果想要喝到正宗的品牌白酒，一般都是靠才能够得到的。因 为品牌白酒价格经过不少经销商…</p>
                                        <small><a href="/oem/news/">更多&gt&gt</a></small>
                                    </ins>
                                </div>
                            </li>
                            <li>
                                <div class="c-box">
                                    <ins class="c-date"><u><i>0</i><b>2</b></u><em>2018-03-06</em></ins>
                                    <ins class="c-pic"><a class="c-img" href="http://www.daqianchao.com/oem/news/2233.html"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/allimg/180306/thumb_312_165_3-1P3061F531537.jpg" width="312" height="165" /></a></ins>
                                    <ins class="c-title">
                                        <span><a href="http://www.daqianchao.com/oem/news/2233.html">白酒贴牌的酒质怎么样？</a></span>
                                        <p>白酒贴牌 也就是贴牌酒，对于酒商来说市场和价格可控，因而利润点也高，通常以入门级酒为主，品质稳定性一般（带有比较多商业性质），产量可大可小，性价比取决…</p>
                                        <small><a href="/oem/news/">更多&gt&gt</a></small>
                                    </ins>
                                </div>
                            </li>
                            <li>
                                <div class="c-box">
                                    <ins class="c-date"><u><i>0</i><b>3</b></u><em>2018-03-05</em></ins>
                                    <ins class="c-pic"><a class="c-img" href="http://www.daqianchao.com/oem/news/2230.html"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/allimg/180305/thumb_312_165_3-1P3051HK2424.jpg" width="312" height="165" /></a></ins>
                                    <ins class="c-title">
                                        <span><a href="http://www.daqianchao.com/oem/news/2230.html">白酒贴牌带来了不少低价白酒</a></span>
                                        <p>随着大家对于 白酒贴牌 的认识越来越深入，就会发现目前在社会中存在着大量的贴牌产品，带来的好处就是高端的白酒价格可以更好的 得到控制，如果说想要购买高端…</p>
                                        <small><a href="/oem/news/">更多&gt&gt</a></small>
                                    </ins>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="div-jsyoushi" id="div-jsyoushi">
        <div class="div">
            <div class="box">
                <div class="row-title">
                    <div class="col-wz">
                        <a href="javascript:">我们能为您做的</a>
                    </div>
                    <div class="col-hx"></div>
                    <div class="col-yw">We Can Do It For You</div>
                    <div class="col-wen">贴牌加工、我们更专业、更适合</div>
                </div>
                <div class="row-list">
                    <div class="ul d-img">
                        <ul><li class="col1"><div class="c-img" style="background-image:url(http://www.daqianchao.com/templets/indd/image/oemtp/jsys_1.png);" ><p>我们有专业的设计师团队，按您的要求一般3至5天可出设计稿。。</p></div></li><li class="col2"><div class="c-img" style="background-image:url(http://www.daqianchao.com/templets/indd/image/oemtp/jsys_2.png);" ><p>有多年生产技术经验，为你您打造高品质产品。。</p></div></li><li class="col3"><div class="c-img" style="background-image:url(http://www.daqianchao.com/templets/indd/image/oemtp/jsys_3.png);" ><p>自设厂房，国内先进的生产设备以及进口设备，满足按时交货需求。</p></div></li><li class="col4"><div class="c-img" style="background-image:url(http://www.daqianchao.com/templets/indd/image/oemtp/jsys_4.png);" ><p>我们跟大型的包材厂家建立长期合作，保证酒包装质量。。。</p></div></li><li class="col5 col-1"><div class="c-img" style="background-image:url(http://www.daqianchao.com/templets/indd/image/oemtp/jsys_5.png);" ><p>为你打造快捷简单操作，为你设计产品宣传彩页，产品详情页等。</p></div></li></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="div-anli" class="div-anli">
        <div class="div">
            <div class="box">
                <div class="row-title">
                    <div class="col-wz">
                        <a href="javascript:">贴牌酒案例</a>
                    </div>
                    <div class="col-hx"></div>
                    <div class="col-yw">Case  Of Oem</div>
                </div>
                <div class="block row-list slide">
                    <div class="ul d-img">
                        <ul>
                            <li>
                                <div>
                                    <a class="c-img" href="http://www.daqianchao.com/oem/anli/2087.html"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180122/thumb_300_300_3-1P1221I252P5.jpg" width="300" height="300"/></a>
                                    <span><em class="dij"><a href="http://www.daqianchao.com/oem/anli/2087.html">点击详细</a></em><small class="dij"><a href="/oem/anli/">点击更多</a></small></span>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a class="c-img" href="http://www.daqianchao.com/oem/anli/2085.html"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180122/thumb_300_300_3-1P1221H924957.jpg" width="300" height="300"/></a>
                                    <span><em class="dij"><a href="http://www.daqianchao.com/oem/anli/2085.html">点击详细</a></em><small class="dij"><a href="/oem/anli/">点击更多</a></small></span>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a class="c-img" href="http://www.daqianchao.com/oem/anli/2086.html"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180122/thumb_300_300_3-1P1221I051C3.jpg" width="300" height="300"/></a>
                                    <span><em class="dij"><a href="http://www.daqianchao.com/oem/anli/2086.html">点击详细</a></em><small class="dij"><a href="/oem/anli/">点击更多</a></small></span>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a class="c-img" href="http://www.daqianchao.com/oem/anli/2084.html"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180122/thumb_300_300_3-1P1221HJ45V.jpg" width="300" height="300"/></a>
                                    <span><em class="dij"><a href="http://www.daqianchao.com/oem/anli/2084.html">点击详细</a></em><small class="dij"><a href="/oem/anli/">点击更多</a></small></span>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a class="c-img" href="http://www.daqianchao.com/oem/anli/2083.html"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180122/thumb_300_300_3-1P1221H51SU.jpg" width="300" height="300"/></a>
                                    <span><em class="dij"><a href="http://www.daqianchao.com/oem/anli/2083.html">点击详细</a></em><small class="dij"><a href="/oem/anli/">点击更多</a></small></span>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a class="c-img" href="http://www.daqianchao.com/oem/anli/2082.html"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180122/thumb_300_300_3-1P1221H249536.jpg" width="300" height="300"/></a>
                                    <span><em class="dij"><a href="http://www.daqianchao.com/oem/anli/2082.html">点击详细</a></em><small class="dij"><a href="/oem/anli/">点击更多</a></small></span>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a class="c-img" href="http://www.daqianchao.com/oem/anli/2081.html"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180122/thumb_300_300_3-1P1221H052924.jpg" width="300" height="300"/></a>
                                    <span><em class="dij"><a href="http://www.daqianchao.com/oem/anli/2081.html">点击详细</a></em><small class="dij"><a href="/oem/anli/">点击更多</a></small></span>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a class="c-img" href="http://www.daqianchao.com/oem/anli/2043.html"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180116/thumb_300_300_3-1P11616301M01.jpg" width="300" height="300"/></a>
                                    <span><em class="dij"><a href="http://www.daqianchao.com/oem/anli/2043.html">点击详细</a></em><small class="dij"><a href="/oem/anli/">点击更多</a></small></span>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="div-tplc" id="div-tplc">
        <div class="div">
            <div class="box">
                <div class="row-wenz">
                    <div>
                        <p>贴牌加工要求</p>
                        <span>量身定制、不限量</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="div-hongd" id="div-hongd">
        <div class="div">
            <div class="box">
                <div class="row-img">
                    <img src="http://www.daqianchao.com/templets/indd/image/oemtp/tp_hongd.png" />
                </div>
                <div class="row-zixun">
                    <img src="http://www.daqianchao.com/templets/indd/image/oemtp/tp_zixun1.png" />
                </div>
            </div>
        </div>
    </div>

    <div id="div-phone" class="div-phone">
        <div class="div">
            <div class="box">
                <div class="row-phone">
                    <a href="tel:180-8500-7237">
                        <img src="http://www.daqianchao.com/templets/indd/image/oemtp/oem_phone.jpg" />
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>


<div id="go2top" class="go2top">
    <div class="div">
        <div class="box">
            <div class="block row-btn">
                <a class="c-go2top" href="javascript:;"></a>
            </div>
        </div>
    </div>
</div>

<include file="public/foot" />
<script src="/Pubilc/index/templets/in_dd/js/list_arc_bjtp.js" type="text/javascript"></script>

<include file="public/kefu" />
</body>
</html>
