<include file="public/head" />

    <link href="/Public/index/templets/in_dd/css/list_arc_sitemap.css" type="text/css" rel="stylesheet" />



<div id="head" class="head">
    <div class="div">
        <div class="box">
            <div class="block row-logo">
                <a href="/"><img src="http://www.daqianchao.com/templets/indd/image/sitemap/logo.png" /></a>
            </div>
            <div class="blorck row-search">
                <form action="javascript:;" method="get">
                    <input class="c-input" type="text" name="q" placeholder="请输入栏目名称" />
                    <input class="c-submit" type="submit" value="快速查找" />
                </form>
            </div>
        </div>
    </div>
</div>

<div id="main" class="main">
    <div id="div-list" class="div-list">
        <div class="div">
            <div class="box">
                <div class="block row-list">
                    <div class="ul">
                        <ul>
                            <li class="col1"><span><a href="{:U('company/fz')}">走进大黔朝</a></span>
                                <dl>
                                    <dd class="col1"><a href="{:U('company/cjd')}">藏酒洞</a></dd>
                                    <dd class="col2"><a href="{:U('company/cvideo')}">洞藏酒视频</a></dd>
                                    <dd class="col3"><a href="{:U('company/fz')}">发展历程</a></dd>
                                    <dd class="col4"><a href="{:U('company/gy')}">传承工艺</a></dd>
                                    <dd class="col5"><a href="{:U('company/lianxi')}">联系我们</a></dd>
                                    <volist name="moves" id="vo">
                                        <dd class="col7"><a href="{:U('company/index',array('id'=>$vo['id']))}">{$vo.title}</a></dd>
                                    </volist>
                                </dl>
                            </li>
                            <li class="col2"><span><a href="{:U('Cooperation/jiamen')}">合作加盟</a></span>
                                <dl>
                                    <dd class="col1"><a href="{:U('Cooperation/info')}">合作政策</a></dd>
                                    <dd class="col2"><a href="{:U('Cooperation/info')}">合作申请</a></dd>
                                    <dd class="col3"><a href="/xinwen/zhangshang/">常见问题</a></dd>
                                    <volist name="good" id="vo">
                                        <dd  class="col1 col5"><a href="{:U('Cooperation/index',array('id'=>$vo['id']))}">{$vo.title}</a></dd>
                                    </volist>

                                </dl>
                            </li>
                            <li class="col3"><span><a href="{:U('protuct/cp')}">产品中心</a></span>
                                <dl>
                                    <volist name="protuct" id="vo" key="k">
                                        <dd class="col{$k}"><a href="{:U('protuct/index')}?id={$vo.id}">{$vo.title}</a></dd>
                                    </volist>
                                </dl>
                            </li>
                            <li class="col4"><span><a href="{:U('news/index')}">资讯中心</a></span>
                                <dl>
                                    <volist name="news" id="vo" key="k">
                                        <dd class="col{$k}"><a href="{:U('news/index')}?id={$vo.id}">{$vo.title}</a></dd>
                                    </volist>
                                </dl>
                            </li>
                            <li class="col5"><span><a href="{:U('drink/baijiu')}">白酒专栏</a></span>
                                <dl>
                                    <volist name="bai" id="vo">
                                        <dd class="col1"><a href="{:U('drink/index')}?id={$vo.id}">{$vo.title}</a></dd>
                                    </volist>
                                </dl>
                            </li>
                            <li class="col6"><span><a href="{:U('ding/dingzhi')}">定制酒专栏</a></span>
                                <dl>
                                    <dd class="col1"><a href="/dingzhi/xinwen/">定制酒资讯</a></dd>
                                    <dd class="col2 col-1"><a href="/dingzhi/wenti/">常见问题</a></dd>
                                </dl>
                            </li>
                            <li class="col7"><span><a href="{:U('activity/index')}">促销活动</a></span>
                                <dl>
                                    <dd class="col1"><a href="{:U('activity/index')}">精品酒</a></dd>
                                    <dd class="col2"><a href="{:U('activity/index')}">年份酒</a></dd>
                                    <dd class="col3 col-1"><a href="{:U('activity/index')}">纪念酒</a></dd>
                                </dl>
                            </li>
                            <li class="col8"><span><a href="/oem/">白酒贴牌</a></span>
                                <dl>
                                    <!-- todo -->
                                        <dd class="col1"><a href="{:U('ding/index')}?id={$vo.id}">{$vo.title}</a></dd>
                                </dl>
                            </li>
                            <li class="col9"><span><a href="{:U('bao/index')}">定制包装</a></span>
                                <dl>
                                    <dd class="col1"><a href="{:U('bao/index')}">泥巴土坛酒包装</a></dd>
                                    <dd class="col2"><a href="{:U('bao/index')}">酒醅原浆酒包装</a></dd>
                                    <dd class="col3 col-1"><a href="{:U('bao/index')}">定制酒包装</a>
                                    </dd>
                                </dl>
                            </li>
                            <li class="col10"><span><a href="/what/">原浆单页</a></span></li>
                            <li class="col11 col-1"><span><a href="/lscp/">零售产品</a></span>
                                <dl>
                                    <dd class="col1"><a href="/qianchaojiuye/chanpin/qianchaoniang/">黔朝酿</a></dd>
                                    <dd class="col2"><a href="/qianchaojiuye/chanpin/dongcangjingpin/">洞藏精品</a></dd>
                                    <dd class="col3 col-1"><a href="/qianchaojiuye/chanpin/cangjianjiulou/">藏剑酒楼</a>
                                    </dd>
                                </dl>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="go2top" class="go2top">
    <div class="div">
        <div class="box">
            <div class="block row-btn">
                <a class="c-go2top" href="javascript:;"></a>
            </div>
        </div>
    </div>
</div>
<include file="public/foot" />

<script src="/Public/index/templets/in_dd/js/list_arc_sitemap.js" type="text/javascript"></script>

<include file="public/kefu" />
</body>
</html>

