<include file="public/head" />
    <link href="/Public/index/templets/inddwap/css/list_arc_baijiu_cat.css" type="text/css" rel="stylesheet" />



<include file="public/menu" />

<div id="main" class="main">
    <div id="div-goods" class="div-goods div-tab">
        <div class="div">
            <div class="box">
                <div class="block row-menu">
                    <div class="ul">
                        <ul><li class="col1"><a href="javascript:;">泥巴土坛酒系列</a></li><li class="col2"><a href="javascript:;">散酒系列</a></li><li class="col3"><a href="javascript:;">窖藏系列</a></li><li class="col4"><a href="javascript:;">定制酒系列</a></li><li class="col5"><a href="javascript:;">原浆酒系列</a></li><li class="col6 col-1"><a href="javascript:;">白酒系列</a></li></ul>
                    </div>
                </div>
                <div class="block row-list">
                    <div class="ul d-img">
                        <ul>
                            <li>
                                <div>
                                    <a href="http://www.daqianchao.com/jnftj/851.html">
                                        <em class="c-img"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/170405/6-1F4051151095K.jpg" width="300" height="300" /></em>
                                        <span><i>酒醅原浆窖泥封坛酒</i></span>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="http://www.daqianchao.com/jnftj/1128.html">
                                        <em class="c-img"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180125/6-1P1251F525102.jpg" width="300" height="300" /></em>
                                        <span><i>茅台镇酒醅原浆古坛老酒</i></span>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="http://www.daqianchao.com/jnftj/1139.html">
                                        <em class="c-img"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/170418/3-1F41Q62339551.jpg" width="300" height="300" /></em>
                                        <span><i>窖泥封坛酒一坛装</i></span>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="http://www.daqianchao.com/jnftj/1140.html">
                                        <em class="c-img"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/170418/3-1F41Q62535515.jpg" width="300" height="300" /></em>
                                        <span><i>窖泥封坛酒纸盒装</i></span>
                                    </a>
                                </div>
                            </li>

                        </ul>
                    </div>
                    <div class="ul d-img">
                        <ul>
                            <li>
                                <div>
                                    <a href="http://www.daqianchao.com/sanjiu/2130.html">
                                        <em class="c-img"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180131/6-1P13111334QU.jpg" width="300" height="300" /></em>
                                        <span><i>茅台镇酱香型白酒</i></span>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="http://www.daqianchao.com/sanjiu/860.html">
                                        <em class="c-img"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180507/thumb_300_300_6-1P50G53445O9.jpg" width="300" height="300" /></em>
                                        <span><i>茅台镇酱香散酒六号酒</i></span>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="http://www.daqianchao.com/sanjiu/1210.html">
                                        <em class="c-img"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180507/thumb_300_300_3-1P50F93950144.jpg" width="300" height="300" /></em>
                                        <span><i>茅台镇酱香型散白酒批发</i></span>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="http://www.daqianchao.com/sanjiu/1257.html">
                                        <em class="c-img"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180507/thumb_300_300_6-1P50G53412120.jpg" width="300" height="300" /></em>
                                        <span><i>茅台镇酱香散酒一号酒</i></span>
                                    </a>
                                </div>
                            </li>

                        </ul>
                    </div>
                    <div class="ul d-img">
                        <ul>

                        </ul>
                    </div>
                    <div class="ul d-img">
                        <ul>
                            <li>
                                <div>
                                    <a href="http://www.daqianchao.com/yuanjiang/1538.html">
                                        <em class="c-img"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180513/thumb_300_300_3-1P5131645324W.jpg" width="300" height="300" /></em>
                                        <span><i>原浆典藏定制酒</i></span>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="http://www.daqianchao.com/yuanjiang/1539.html">
                                        <em class="c-img"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180513/thumb_300_300_3-1P51316451Hc.jpg" width="300" height="300" /></em>
                                        <span><i>贵宾接待酒</i></span>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="http://www.daqianchao.com/yuanjiang/1130.html">
                                        <em class="c-img"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/171207/thumb_300_300_6-1G20F95U4a5.jpg" width="300" height="300" /></em>
                                        <span><i>大黔朝私人珍藏定制酒</i></span>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="http://www.daqianchao.com/yuanjiang/1131.html">
                                        <em class="c-img"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180510/thumb_300_300_3-1P510151423J8.jpg" width="300" height="300" /></em>
                                        <span><i>大黔朝珍藏纪念定制酒</i></span>
                                    </a>
                                </div>
                            </li>

                        </ul>
                    </div>
                    <div class="ul d-img">
                        <ul>

                        </ul>
                    </div>
                    <div class="ul d-img">
                        <ul>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="div-xx" class="div-xx div-tab">
        <div class="div">
            <div class="box">
                <div class="block row-th">
                    <div class="h2 th1">
                        <h2><a href="http://www.daqianchao.com/baijiu/xiangxing/">香型种类</a></h2>
                    </div>
                </div>
                <div class="block row-list">
                    <div class="ul d-img">
                        <ul>
                            <li>
                                <em class="c-img"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/171212/6-1G212162455544.jpg" width="300" height="300" /></em>
                                <span><i>凤香型</i><u>FENG - FLAVOR TYPE</u></span>
                                <p>如今的市场上酒的种类繁多，比如说红酒、啤酒、 白酒 等等，但是喝白酒和啤酒的人占大多数。啤酒的种类也有很多，比如说燕京、雪...</p>
                            </li>
                            <li>
                                <em class="c-img"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/allimg/171212/thumb_300_300_6-1G21216121G17.jpg" width="300" height="300" /></em>
                                <span><i>兼香型</i><u>JIAN - FLAVOR TYPE</u></span>
                                <p>由于 白酒 的类型较多，很多消费者只知道是白酒，但是并不知道白酒有那些香型，即便是知道，可能大多数只知道 酱香型白酒 。白酒...</p>
                            </li>
                            <li>
                                <em class="c-img"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/allimg/171212/thumb_300_300_6-1G212160445940.jpg" width="300" height="300" /></em>
                                <span><i>米香型</i><u>MI - FLAVOR TYPE</u></span>
                                <p>白酒 有着一定的文化，一般有香型的白酒都是用纯粮酿造的，并不是用那些食用酒精以及一些化学品所勾兑的，大多数都是用优质的高...</p>
                            </li>
                            <li>
                                <em class="c-img"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/allimg/171212/thumb_300_300_6-1G212161Z6207.jpg" width="300" height="300" /></em>
                                <span><i>清香型</i><u>QING - FLAVOR TYPE</u></span>
                                <p>不同的 白酒 因不同的特点而名扬海外，然而白酒有着很多的种类，就像我国的国酒茅台，是属于酱香型的白酒。在白酒这一块不但种类...</p>
                            </li>
                            <li>
                                <em class="c-img"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/allimg/171212/thumb_300_300_6-1G212155Q4120.jpg" width="300" height="300" /></em>
                                <span><i>浓香型</i><u>NONG - FLAVOR TYPE</u></span>
                                <p>酒是我国的文化，每款酒都具有不同的特点以及不同的酿造工艺。在 白酒 这一快不但种类繁多并且酒的香型也有好几种。白酒在香型这...</p>
                            </li>
                            <li>
                                <em class="c-img"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/allimg/171212/thumb_300_300_6-1G212155036105-lp.jpg" width="300" height="300" /></em>
                                <span><i>酱香型</i><u>JIANG - FLAVOR TYPE</u></span>
                                <p>如今的市场上酒的种类繁多，比如说红酒、啤酒、 白酒 等等，但是喝白酒和啤酒的人占大多数。啤酒的种类也有很多，比如说燕京、雪...</p>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="div-zs" class="div-zs div-tab">
        <div class="div">
            <div class="box">
                <div class="block row-th">
                    <div class="h2 th1">
                        <h2><a href="http://www.daqianchao.com/baijiu/zhishi/">白酒知识</a></h2>
                    </div>
                </div>
                <div class="part-list">
                    <div class="block row-list">
                        <div class="h2">
                            <a class="c-more" href="http://www.daqianchao.com/baijiuzt/goudui/">更多</a>
                            <h2><a href="http://www.daqianchao.com/baijiuzt/goudui/">白酒勾兑</a></h2>
                        </div>
                        <div class="ul d-img">
                            <ul>
                                <li>
                                    <a href="http://www.daqianchao.com/baijiuzt/goudui/2470.html">
                                        <ins>
                                            <em class="c-img"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/allimg/181108/3_110Q12HH043.jpg" width="200" height="120" /></em>
                                            <span>喝酒时不能吃这6种水果！你知道</span>
                                        </ins>
                                        <p>如果吃了榴莲后喝酒，因人体对酒精的代谢受到影响，就容易引起酒精中毒，严重者可能致死。 喝酒的时候同样不宜吃西红柿，一来西...</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://www.daqianchao.com/baijiuzt/goudui/2418.html">
                                        <ins>
                                            <em class="c-img"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/allimg/180927/thumb_200_120_3-1P92G35432306-lp.jpg" width="200" height="120" /></em>
                                            <span>如何鉴别原浆酒与勾兑酒？</span>
                                        </ins>
                                        <p>所谓原浆酒就是不添加粮食以外任何物质，采用传统固态发酵方式生产的白酒。勾兑酒是用食用酒精与香精模仿传统白酒勾兑而成的所谓...</p>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div><div class="block row-list">
                    <div class="h2">
                        <a class="c-more" href="http://www.daqianchao.com/baijiuzt/baocun/">更多</a>
                        <h2><a href="http://www.daqianchao.com/baijiuzt/baocun/">白酒保存</a></h2>
                    </div>
                    <div class="ul d-img">
                        <ul>
                            <li>
                                <a href="http://www.daqianchao.com/baijiuzt/baocun/2458.html">
                                    <ins>
                                        <em class="c-img"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/allimg/181018/thumb_200_120_3-1Q01Q60023464-lp.jpg" width="200" height="120" /></em>
                                        <span>喝酒的四种讲究</span>
                                    </ins>
                                    <p>喝酒讲究的人，对酒都有种独到理解，和朋友聊酒也是滔滔不绝！...</p>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.daqianchao.com/baijiuzt/baocun/2456.html">
                                    <ins>
                                        <em class="c-img"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/yi/thumb_200_120_1 (12).jpg" width="200" height="120" /></em>
                                        <span>教你一招如何拒绝被灌酒</span>
                                    </ins>
                                    <p>饮酒分场合，酒好却不能贪杯哦，根据情况拒绝被灌酒，教你一招。...</p>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div><div class="block row-list">
                    <div class="h2">
                        <a class="c-more" href="http://www.daqianchao.com/baijiuzt/shoucang/">更多</a>
                        <h2><a href="http://www.daqianchao.com/baijiuzt/shoucang/">白酒收藏</a></h2>
                    </div>
                    <div class="ul d-img">
                        <ul>
                            <li>
                                <a href="http://www.daqianchao.com/baijiuzt/shoucang/2451.html">
                                    <ins>
                                        <em class="c-img"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/allimg/181013/thumb_200_120_3-1Q013160Q0524-lp.jpg" width="200" height="120" /></em>
                                        <span>从酒香、酿造、品质、价值四大方</span>
                                    </ins>
                                    <p>无论酒香、酿造、品质、价值都是酱香型白酒更有价值，所以收藏酒还是推荐酱香型。...</p>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.daqianchao.com/baijiuzt/shoucang/2435.html">
                                    <ins>
                                        <em class="c-img"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/allimg/181006/3-1Q0061K50J10-lp.jpg" width="200" height="120" /></em>
                                        <span>白酒主体香型有哪些？如何挑选适</span>
                                    </ins>
                                    <p>白酒是中国传统的蒸馏酒。它是世界上七大蒸馏酒之一。白酒的主要成分是乙醇和水（占总量的98%～99%）。而溶于其中的有机化合物，...</p>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>

    <div id="div-video" class="div-video div-tab">
        <div class="div">
            <div class="box">
                <div class="block row-th">
                    <div class="h2 th1">
                        <h2><a href="http://www.daqianchao.com/baijiu/shipin/">白酒视频</a></h2>
                    </div>
                </div>
                <div class="block row-list">
                    <div class="ul d-img">
                        <ul>
                            <li>
                                <a href="http://www.daqianchao.com/baijiu/shipin/1852.html">
                                    <em class="c-img"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/171214/thumb_300_170_6-1G214100943P4.jpg" width="300" height="170" /></em>
                                    <ins>
                                        <span>这样的白酒鉴别方法有人见过吗？</span>
                                        <p>白酒的鉴别方法是有很多种的，但是，不管是用哪一种方法它所鉴别出来的白酒结果都是一样的，最主要是看个人比较擅长于哪一方面的...</p>
                                    </ins>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.daqianchao.com/baijiu/shipin/1851.html">
                                    <em class="c-img"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/171214/thumb_300_170_6-1G214093141393.jpg" width="300" height="170" /></em>
                                    <ins>
                                        <span>用火烧法来鉴别白酒的真假！</span>
                                        <p>我们都知道，白酒的鉴别有一种方式，那就是通过燃烧的方式，来进行辨别白酒的真假，所以，我们在用火烧法来进行鉴别白酒真假的时...</p>
                                    </ins>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="div-jm" class="div-jm div-tab">
        <div class="div">
            <div class="box">
                <div class="block row-th">
                    <div class="h2 th1">
                        <h2><a href="http://www.daqianchao.com/baijiu/jiameng/">白酒加盟案例</a></h2>
                    </div>
                </div>
                <div class="block row-img">
                    <div class="ul d-img">
                        <ul>
                            <li>
                                <a class="c-img" href="http://www.daqianchao.com/baijiu/daili/1857.html">
                                    <img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/allimg/171213/thumb_400_300_6-1G213095312B6.JPG" width="400" height="300" />
                                    <i class="c-text">白酒代理需要多少钱?</i>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="part-arc">
                    <div class="block row-list">
                        <div class="h2">
                            <a class="c-more" href="http://www.daqianchao.com/baijiu/daili/">更多</a>
                            <h2><a href="http://www.daqianchao.com/baijiu/daili/">白酒代理问题</a></h2>
                        </div>
                        <div class="ul d-dot">
                            <ul>
                                <li>
                                    <i>2017-12-21</i>
                                    <a href="http://www.daqianchao.com/baijiu/daili/1915.html">白酒代理一瓶利润多少</a>
                                </li>
                                <li>
                                    <i>2017-12-13</i>
                                    <a href="http://www.daqianchao.com/baijiu/daili/1857.html">白酒代理需要多少钱?</a>
                                </li>

                            </ul>
                        </div>
                    </div><div class="block row-list">
                    <div class="h2">
                        <a class="c-more" href="http://www.daqianchao.com/baijiu/jiameng/">更多</a>
                        <h2><a href="http://www.daqianchao.com/baijiu/jiameng/">白酒加盟问题</a></h2>
                    </div>
                    <div class="ul d-dot">
                        <ul>
                            <li>
                                <i>2017-12-21</i>
                                <a href="http://www.daqianchao.com/baijiu/jiameng/1916.html">加盟茅台酒需要什么条件</a>
                            </li>
                            <li>
                                <i>2017-12-13</i>
                                <a href="http://www.daqianchao.com/baijiu/jiameng/1871.html">白酒加盟店要怎么样才做的起来？</a>
                            </li>

                        </ul>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>

    <div id="div-wt" class="div-wt div-tab">
        <div class="div">
            <div class="box">
                <div class="block row-th">
                    <div class="h2 th1">
                        <h2><a href="http://www.daqianchao.com/baijiu/wenti/">白酒相关问题</a></h2>
                    </div>
                </div>
                <div class="part-list">
                    <div class="block row-list">
                        <div class="h2">
                            <a class="c-more" href="http://www.daqianchao.com/baijiu/jiage/">MORE<small>+</small></a>
                            <h2><a href="http://www.daqianchao.com/baijiu/jiage/">白酒价格</a></h2>
                        </div>
                        <div class="ul">
                            <ul>
                                <li>
                                    <a href="http://www.daqianchao.com/baijiu/jiage/1860.html">
                                        <span>白酒价格走势将会如何？</span>
                                        <p>随着生活水平的提高，很多商品的价格也在无形中上涨，在市场上比较热销的上商品在价格上自然也会上涨，但是对于不热销的商品价格...</p>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div><div class="block row-list">
                    <div class="h2">
                        <a class="c-more" href="http://www.daqianchao.com/baijiu/diqu/">MORE<small>+</small></a>
                        <h2><a href="http://www.daqianchao.com/baijiu/diqu/">地区白酒</a></h2>
                    </div>
                    <div class="ul">
                        <ul>
                            <li>
                                <a href="http://www.daqianchao.com/baijiu/diqu/1872.html">
                                    <span>贵州品牌白酒有哪些？</span>
                                    <p>说到 贵州白酒 ，相信大多数人第一时间想到的就是茅台，毕竟茅台是我国的国酒，贵州主要生产的就是酱香型白酒，并且是我国酱香型...</p>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div><div class="block row-list">
                    <div class="h2">
                        <a class="c-more" href="http://www.daqianchao.com/baijiu/pinpai/">MORE<small>+</small></a>
                        <h2><a href="http://www.daqianchao.com/baijiu/pinpai/">白酒品牌</a></h2>
                    </div>
                    <div class="ul">
                        <ul>
                            <li>
                                <a href="http://www.daqianchao.com/baijiu/pinpai/1930.html">
                                    <span>什么牌子的白酒比较好？</span>
                                    <p>随着 白酒 的出现，白酒已经占据了整个市场，可以说白酒已经离不开人们的生活。白酒的品牌也有很多，面对市场上眼花缭乱的白酒品...</p>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.daqianchao.com/baijiu/pinpai/1876.html">
                                    <span>中国白酒品牌排行榜！</span>
                                    <p>我国是酒的故乡，并且在我国酒也是一种文化。中国的酒有很多，但是能称得上是名酒的也不是很多，但是也不少。就比如说我国的国酒...</p>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div><div class="block row-list">
                    <div class="h2">
                        <a class="c-more" href="http://www.daqianchao.com/baijiu/pifa/">MORE<small>+</small></a>
                        <h2><a href="http://www.daqianchao.com/baijiu/pifa/">白酒批发</a></h2>
                    </div>
                    <div class="ul">
                        <ul>
                            <li>
                                <a href="http://www.daqianchao.com/baijiu/pifa/1931.html">
                                    <span>各种白酒批发价格表大全</span>
                                    <p>随着 白酒 的出现 ， 现如今的市场上各式各样的白酒 ， 并且都比较热销 。 从我国的国酒到红星二锅头均有着不同的价格 ， 如果是...</p>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.daqianchao.com/baijiu/pifa/1877.html">
                                    <span>2017年白酒最新批发价格表</span>
                                    <p>市场上的每一样商品在不同的阶段都会有一个最新的报价，但是即便是最新的报价，也只是一个估计值，并不是一个准确的值。就像 白...</p>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div><div class="block row-list">
                    <div class="h2">
                        <a class="c-more" href="http://www.daqianchao.com/baijiu/wenhua/">MORE<small>+</small></a>
                        <h2><a href="http://www.daqianchao.com/baijiu/wenhua/">白酒文化</a></h2>
                    </div>
                    <div class="ul">
                        <ul>
                            <li>
                                <a href="http://www.daqianchao.com/baijiu/wenhua/1878.html">
                                    <span>白酒文化有何意义？</span>
                                    <p>我国是酒的故乡，从古自今喝酒的人越来越多，可以说酒已经是如今饭桌上必不可少的饮品。特别是我国的国酒茅台，在我国乃至国外都...</p>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div><div class="block row-list">
                    <div class="h2">
                        <a class="c-more" href="http://www.daqianchao.com/baijiu/paiming/">MORE<small>+</small></a>
                        <h2><a href="http://www.daqianchao.com/baijiu/paiming/">白酒排名</a></h2>
                    </div>
                    <div class="ul">
                        <ul>
                            <li>
                                <a href="http://www.daqianchao.com/baijiu/paiming/1879.html">
                                    <span>中国酱香型白酒排名</span>
                                    <p>一说到 酱香型白酒 ，相信绝大多数人想到的就是茅台酒，毕竟茅台是我国的国酒，不仅在我国出名，甚至在好多年前就闻名海外。我国...</p>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div><div class="block row-list">
                    <div class="h2">
                        <a class="c-more" href="http://www.daqianchao.com/baijiu/dushu/">MORE<small>+</small></a>
                        <h2><a href="http://www.daqianchao.com/baijiu/dushu/">白酒度数</a></h2>
                    </div>
                    <div class="ul">
                        <ul>
                            <li>
                                <a href="http://www.daqianchao.com/baijiu/dushu/1901.html">
                                    <span>白酒度数高好还是低好</span>
                                    <p>在喝酒这一块也有着一定的学问，有的饮酒者喜欢喝高度 白酒 ，而有的饮酒者则喜欢低度的白酒，有人觉得高度酒纯度高、不上头、醒...</p>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.daqianchao.com/baijiu/dushu/1880.html">
                                    <span> 白酒度数跟酒精含量有何关系？</span>
                                    <p>现在市场上大多数的 白酒 一般都是53度，有的白酒都是纯粮酿造的，有的是食用酒精勾兑的，但是不管是怎样的白酒，它的度数和酒精...</p>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div><div class="block row-list">
                    <div class="h2">
                        <a class="c-more" href="http://www.daqianchao.com/baijiu/qita/">MORE<small>+</small></a>
                        <h2><a href="http://www.daqianchao.com/baijiu/qita/">其他白酒</a></h2>
                    </div>
                    <div class="ul">
                        <ul>
                            <li>
                                <a href="http://www.daqianchao.com/baijiu/qita/1902.html">
                                    <span>什么白酒好喝不贵？</span>
                                    <p>本来我国就是酒的故乡，要说没人喝酒那肯定是假的，从古自今我国喝酒的人就没少过，可以说是越来越多。就像我国的国酒茅台，不但...</p>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.daqianchao.com/baijiu/qita/1881.html">
                                    <span>喝白酒对人都有哪些好处？</span>
                                    <p>现如今 白酒 已经融入了人们的生活，不论是在饭桌上还是作为礼品送人，都少不了酒这个饮品。现在市场上各式各样的白酒，面对市场...</p>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>

    <div id="div-tj" class="div-tj div-tab">
        <div class="div">
            <div class="box">
                <div class="block row-th">
                    <div class="h2 th1">
                        <h2><a href="http://www.daqianchao.com/cpzx/">产品推荐</a></h2>
                    </div>
                </div>
                <div class="block row-list slide">
                    <a class="c-page c-pre" href="javascript:;">&lt;</a>
                    <a class="c-page c-next" href="javascript:;">&gt;</a>
                    <div class="part-block">
                        <div class="ul d-img">
                            <ul>
                                <li>
                                    <div>
                                        <a href="http://www.daqianchao.com/yuanjiang/1538.html">
                                            <em class="c-img"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180513/thumb_300_300_3-1P5131645324W.jpg" width="300" height="300" /></em>
                                            <span><i>原浆典藏定制酒</i></span>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <a href="http://www.daqianchao.com/yuanjiang/1133.html">
                                            <em class="c-img"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180513/thumb_300_300_3-1P513151020341.jpg" width="300" height="300" /></em>
                                            <span><i>大</i></span>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <a href="http://www.daqianchao.com/sanjiu/2130.html">
                                            <em class="c-img"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180131/6-1P13111334QU.jpg" width="300" height="300" /></em>
                                            <span><i>茅台镇酱香型白酒</i></span>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <a href="http://www.daqianchao.com/hunyan/2250.html">
                                            <em class="c-img"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180317/thumb_300_300_9-1P31F95Z3P8.jpg" width="300" height="300" /></em>
                                            <span><i>喜酒定制酒(布袋)</i></span>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <a href="http://www.daqianchao.com/hunyan/2245.html">
                                            <em class="c-img"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180513/thumb_300_300_3-1P513143343263.jpg" width="300" height="300" /></em>
                                            <span><i>家有喜事婚宴酒(布袋)</i></span>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <a href="http://www.daqianchao.com/hunyan/2244.html">
                                            <em class="c-img"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180513/thumb_300_300_3-1P5131426261P.jpg" width="300" height="300" /></em>
                                            <span><i>最新婚宴酒推荐(礼盒)</i></span>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <a href="http://www.daqianchao.com/hunyan/2243.html">
                                            <em class="c-img"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180509/thumb_300_300_6-1P50914055A04.jpg" width="300" height="300" /></em>
                                            <span><i>百年好合婚宴酒(礼盒)</i></span>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <a href="http://www.daqianchao.com/hunyan/2242.html">
                                            <em class="c-img"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180511/thumb_300_300_3-1P5111K251135.jpg" width="300" height="300" /></em>
                                            <span><i>洞藏婚宴酒定制(礼盒)</i></span>
                                        </a>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<include file="public/kefu" />


<include file="public/foot" />
<script src="/Public/index/templets/inddwap/js/list_arc_baijiu_cat.js" type="text/javascript"></script>

</body>
</html><!--script type="text/javascript" src="https://hm.baidu.com/hm.js?a267108febeef6c754ac832c0fb2d5d4"></script-->
<!--<script type="text/javascript" src="http://push.zhanzhang.baidu.com/push.js"></script>-->
<!--<script type="text/javascript" src="https://hm.baidu.com/hm.js?164310c093786d37d8ff75844e3ef608"></script>-->
<!--<script type="text/javascript" charset="utf-8" src="http://lxbjs.baidu.com/lxb.js?sid=9834759"></script>-->
