<include file="public/head" />

    <link href="/Public/index/templets/in_dd/css/list_arc_lianxi.css" type="text/css" rel="stylesheet" />



<include file="public/top" />

<include file="public/menu" />


<div id="main" class="main">
    <div id="div-banner" class="div-banner"></div>

    <div id="div-path" class="div-path">
        <div class="div">
            <div class="box">

                <div class="block row-path">
                    <div>
                        <i>当前位置：</i>
                        <span><a href="/">首页</a><small>&gt;</small><a href='http://www.daqianchao.com/zoujindaqianchao/'>走进大黔朝</a><small>&gt;</small><a href='http://www.daqianchao.com/lianxi/'>联系我们</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="div-msg" class="div-msg">
        <div class="div">
            <div class="box">
                <div class="block row-title">
                    <div class="b-img">
                        <img src="http://www.daqianchao.com/templets/indd/picture/lianxi1206.jpg" />
                        <img src="http://www.daqianchao.com/templets/indd/picture/liuyan1206.png" />
                    </div>
                </div>

                <div class="block row-form">
                    <div class="ul">
                        <form>
                            <ul>
                                <li class="col-name col-input">
                                    <span><input class="c-input" type="text" name="names" placeholder="请输入您的姓名" /></span>
                                </li>
                                <li class="col-qq col-input">
                                    <span><input class="c-input" type="text" name="wei" placeholder="请输入您的qq/微信" /></span>
                                </li>
                                <li class="col-tel col-input">
                                    <span><input class="c-input" type="text" name="tel" placeholder="请输入您的手机号码" /></span>
                                </li>
                                <li class="col-content col-text">
                                    <span><textarea id="info" placeholder="请输入留言内容"></textarea></span>
                                </li>
                                <li class="col-submit">
                                    <span><input class="c-ok" type="button" value="提交" />
                                        <input class="c-reset" type="reset" value="重置" /></span>
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>

                <div class="block row-info">
                    <div class="ul">
                        <ul>
                            <li><div><b>客服电话：</b><span>0851-8575-5116</span></div></li>
                            <li><div><b>手机号：</b><span>180-8500-7237【微信同号】</span></div></li>
                            <li><div><b>联系QQ：</b><span>35439644</span></div></li>
                            <li><div><b>公司地址：</b><span>贵州省贵阳市南明区花果园财富广场2号楼整层</span></div></li>
                            <li><div><b>生产地址：</b><span>贵州省仁怀市茅台镇名酒工业园区</span></div></li>
                        </ul>
                    </div>
                </div>

                <div class="block row-map">
                    <div class="b-map">
                        <div class="d-map">
                            <textarea>point:106.692965,26.569256;title:贵州大黔朝酒业有限公司;desc:地址：贵州省贵阳市南明区花果园财富广场2号楼整层</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="go2top" class="go2top">
    <div class="div">
        <div class="box">
            <div class="block row-btn">
                <a class="c-go2top" href="javascript:;"></a>
            </div>
        </div>
    </div>
</div>

<include file="public/foot" />

<script src="/Public/index/templets/in_dd/js/list_arc_lianxi.js" type="text/javascript"></script>
<script src="/Public/index/templets/inddwap/js/jquery.1.8.2.min.js" type="text/javascript"></script>

<script>
    function isPhoneNo(phones) {
        var isPhone = /^1[3|4|5|7|8][0-9]{9}$/;
        return  isPhone.test(phones);
    }

    $(document).ready(function(){
        $(".c-ok").click(function(){
            var names = $("input[name='names']").val();
            var tel = $("input[name='tel']").val();
            var wei = $("input[name='wei']").val();
            var info = $("#info").val();
            if(names == ''){
                alert('请输入用户姓名！');
            }else if(tel=='' || isPhoneNo(tel)==false){
                alert('手机号码不合法！');
            }else if(wei ==''){
                alert('请输入微信或者qq号码！');
            }else {
                $.ajax({
                    url:"{:U('index/message')}",
                    type:'post',
                    data:{'names':names,'tel':tel,'wei':wei,'info':info},
                    success:function(res){
                        if(res.code == 200){
                            alert(res.msg);
                            window.location.reload();
                        }else{
                            alert(res.msg);
                            window.location.reload();
                        }
                    }
                })
            }
        })
    })
</script>


<include file="public/kefu" />
</body>
</html>

