<include file="public/head" />

    <link href="/Public/index/templets/in_dd/css/list_goods_cat.css" type="text/css" rel="stylesheet" />



<include file="public/top" />

<include file="public/menu" />

<div id="main" class="main">

    <div id="div-banner" class="div-banner">
        <div class="div">
            <div class="box">
                <div class="row-banner">
                    <img src="http://www.daqianchao.com/templets/indd/image/lscp/lscp_p.jpg" />
                </div>
            </div>
        </div>
    </div>

    <div  class="div-cont">
        <div class="div">
            <div class="box">
                <div class="row-hx">
                    <img src="http://www.daqianchao.com/templets/indd/image/lscp/lscp_hx.png" />
                </div>
                <div class="row-title">
                    <div class="col-wz">
                        <a href="javascript:">零售产品</a>
                    </div>
                    <div class="col-hx"></div>
                    <div class="col-yw"><b>Retail Products</b></div>
                </div>

                <!-- 新闻资讯de 导航标签-->
                <div class="row-nav">
                    <ul>
                        <volist name="goods" id="vo" >
                            <li <eq name="Think.get.id" value="$vo.id">class="on" </eq> ><a href="{:U('protuct/cp',array('id'=>$vo['id']))}">{$vo.title}</a></li>
                        </volist>

                    </ul>
                </div>

                <div class="block row-list">
                    <div class="ul b-list d-img">
                        <ul>
                            <volist name="new_goods" id="vo">
                                <li>
                                    <a href="{:U('mai/detail',array('id'=>$vo['id'],'pid'=>$vo['pid']))}">
                                        <em class="c-img">
                                            <img src="/Uploads/{$vo.img}" />
                                            <i>{$vo.title}</i>
                                        </em>
                                        <div><i>香型:{$vo.xiang}</i><ins>酒精度:{$vo.du}</ins></div>
                                    </a>
                                </li>
                            </volist>

                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="div-title" id="div-title">
        <div class="div">
            <div class="box">
                <div class="row-hx">
                    <img src="http://www.daqianchao.com/templets/indd/image/lscp/lscp_hx.png" />
                </div>
                <div class="row-title">
                    <div class="col-wz">
                        <a href="javascript:">招商产品</a>
                    </div>
                    <div class="col-hx"></div>
                    <div class="col-yw"><b>Retail Products</b></div>
                </div>
            </div>
        </div>
    </div>

    <div id="div-goods" class="div-goods">
        <div class="div">
            <div class="p-menu">
                <div class="box">
                    <div class="block row-menu">
                        <div class="ul">
                            <ul>
                                <li class="on"><a href="javascript:;">特色白酒</a></li>
                                <li><a href="javascript:;">泥巴土坛酒</a></li>
                                <li><a href="javascript:;">酱香定制酒</a></li>
                                <li><a href="javascript:;">茅台镇散酒</a></li>
                                <li><a href="javascript:;">茅台镇原浆酒</a></li>
                                <li><a href="javascript:;">婚宴酒</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="block row-hot">
                        <div class="ul">
                            <h2>热门推荐<hr></h2>
                            <ul>
                                <volist name="hezuo" id="vo" key="k">
                                    <li><a href="{:U('cooperation/detail',array('id'=>$vo['id'],'pid'=>$vo['pid']))}"><i>{$vo.lan}</i><em>{$k}</em><span>{$vo.title|mb_substr='0','20','utf-8'}</span></a></li>
                                </volist>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="goods-list">
                <div class="box">
                    <div class="ul d-img">
                        <ul>
                            <li>
                                <div class="c-box">
                                    <a class="c-img" href="http://www.daqianchao.com/zscp/2520.html"><img src=" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/allimg/181229/3-1Q2291G431133.jpg" width="360" height="360" " /></a>
                                    <span><a href="">黔朝·魂酒</a></span>
                                </div>
                            </li>
                            <li>
                                <div class="c-box">
                                    <a class="c-img" href="http://www.daqianchao.com/zscp/2271.html"><img src=" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180425/thumb_360_360_3-1P42516001W11.jpg" width="360" height="360" " /></a>
                                    <span><a href="">黔朝酒仙酒</a></span>
                                </div>
                            </li>
                            <li>
                                <div class="c-box">
                                    <a class="c-img" href="http://www.daqianchao.com/zscp/2272.html"><img src=" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180426/thumb_360_360_3-1P42616192QQ.jpg" width="360" height="360" " /></a>
                                    <span><a href="">多彩贵州酒</a></span>
                                </div>
                            </li>
                            <li>
                                <div class="c-box">
                                    <a class="c-img" href="http://www.daqianchao.com/zscp/2279.html"><img src=" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180502/thumb_360_360_3-1P5021AQ02T.jpg" width="360" height="360" " /></a>
                                    <span><a href="">黔朝东方红</a></span>
                                </div>
                            </li>
                            <li>
                                <div class="c-box">
                                    <a class="c-img" href="http://www.daqianchao.com/zscp/2282.html"><img src=" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180504/thumb_360_360_3-1P504154054B0.jpg" width="360" height="360" " /></a>
                                    <span><a href="">黔朝酒鬼酒</a></span>
                                </div>
                            </li>
                            <li>
                                <div class="c-box">
                                    <a class="c-img" href="http://www.daqianchao.com/zscp/2306.html"><img src=" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180608/thumb_360_360_3-1P60P94919224.jpg" width="360" height="360" " /></a>
                                    <span><a href="">华山论剑酒</a></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="ul d-img">
                        <ul>
                            <li>
                                <div class="c-box">
                                    <a class="c-img" href="http://www.daqianchao.com/jnftj/851.html"><img src=" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/170405/6-1F4051151095K.jpg" width="360" height="360" " /></a>
                                    <span><a href="">酒醅原浆窖泥封坛酒</a></span>
                                </div>
                            </li>
                            <li>
                                <div class="c-box">
                                    <a class="c-img" href="http://www.daqianchao.com/jnftj/1128.html"><img src=" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180125/6-1P1251F525102.jpg" width="360" height="360" " /></a>
                                    <span><a href="">茅台镇酒醅原浆古坛老</a></span>
                                </div>
                            </li>
                            <li>
                                <div class="c-box">
                                    <a class="c-img" href="http://www.daqianchao.com/jnftj/1139.html"><img src=" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/170418/3-1F41Q62339551.jpg" width="360" height="360" " /></a>
                                    <span><a href="">窖泥封坛酒一坛装</a></span>
                                </div>
                            </li>
                            <li>
                                <div class="c-box">
                                    <a class="c-img" href="http://www.daqianchao.com/jnftj/1140.html"><img src=" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/170418/3-1F41Q62535515.jpg" width="360" height="360" " /></a>
                                    <span><a href="">窖泥封坛酒纸盒装</a></span>
                                </div>
                            </li>
                            <li>
                                <div class="c-box">
                                    <a class="c-img" href="http://www.daqianchao.com/jnftj/1141.html"><img src=" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/170418/3-1F41Q62600a6.jpg" width="360" height="360" " /></a>
                                    <span><a href="">窖泥封坛酒手提袋版</a></span>
                                </div>
                            </li>
                            <li>
                                <div class="c-box">
                                    <a class="c-img" href="http://www.daqianchao.com/jnftj/1142.html"><img src=" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/170418/3-1F41Q6264B17.jpg" width="360" height="360" " /></a>
                                    <span><a href="">窖泥封坛酒木箱装</a></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="ul d-img">
                        <ul>
                            <li>
                                <div class="c-box">
                                    <a class="c-img" href="http://www.daqianchao.com/yuanjiang/1538.html"><img src=" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180513/thumb_360_360_3-1P5131645324W.jpg" width="360" height="360" " /></a>
                                    <span><a href="">原浆典藏定制酒</a></span>
                                </div>
                            </li>
                            <li>
                                <div class="c-box">
                                    <a class="c-img" href="http://www.daqianchao.com/yuanjiang/1539.html"><img src=" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180513/thumb_360_360_3-1P51316451Hc.jpg" width="360" height="360" " /></a>
                                    <span><a href="">贵宾接待酒</a></span>
                                </div>
                            </li>
                            <li>
                                <div class="c-box">
                                    <a class="c-img" href="http://www.daqianchao.com/yuanjiang/1130.html"><img src=" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/171207/thumb_360_360_6-1G20F95U4a5.jpg" width="360" height="360" " /></a>
                                    <span><a href="">大黔朝私人珍藏定制酒</a></span>
                                </div>
                            </li>
                            <li>
                                <div class="c-box">
                                    <a class="c-img" href="http://www.daqianchao.com/yuanjiang/1131.html"><img src=" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180510/thumb_360_360_3-1P510151423J8.jpg" width="360" height="360" " /></a>
                                    <span><a href="">大黔朝珍藏纪念定制酒</a></span>
                                </div>
                            </li>
                            <li>
                                <div class="c-box">
                                    <a class="c-img" href="http://www.daqianchao.com/yuanjiang/1132.html"><img src=" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/171207/thumb_360_360_6-1G20F959522Z.jpg" width="360" height="360" " /></a>
                                    <span><a href="">大黔朝婚宴定制酒</a></span>
                                </div>
                            </li>
                            <li>
                                <div class="c-box">
                                    <a class="c-img" href="http://www.daqianchao.com/yuanjiang/1133.html"><img src=" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180513/thumb_360_360_3-1P513151020341.jpg" width="360" height="360" " /></a>
                                    <span><a href="">大</a></span>
                                </div>
                            </li>

                        </ul>
                    </div>
                    <div class="ul d-img">
                        <ul>
                            <li>
                                <div class="c-box">
                                    <a class="c-img" href="http://www.daqianchao.com/sanjiu/2130.html"><img src=" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180131/6-1P13111334QU.jpg" width="360" height="360" " /></a>
                                    <span><a href="">茅台镇酱香型白酒</a></span>
                                </div>
                            </li>
                            <li>
                                <div class="c-box">
                                    <a class="c-img" href="http://www.daqianchao.com/sanjiu/860.html"><img src=" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180507/thumb_360_360_6-1P50G53445O9.jpg" width="360" height="360" " /></a>
                                    <span><a href="">茅台镇酱香散酒六号酒</a></span>
                                </div>
                            </li>
                            <li>
                                <div class="c-box">
                                    <a class="c-img" href="http://www.daqianchao.com/sanjiu/1210.html"><img src=" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180507/thumb_360_360_3-1P50F93950144.jpg" width="360" height="360" " /></a>
                                    <span><a href="">茅台镇酱香型散白酒批</a></span>
                                </div>
                            </li>
                            <li>
                                <div class="c-box">
                                    <a class="c-img" href="http://www.daqianchao.com/sanjiu/1257.html"><img src=" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180507/thumb_360_360_6-1P50G53412120.jpg" width="360" height="360" " /></a>
                                    <span><a href="">茅台镇酱香散酒一号酒</a></span>
                                </div>
                            </li>
                            <li>
                                <div class="c-box">
                                    <a class="c-img" href="http://www.daqianchao.com/sanjiu/1211.html"><img src=" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180507/thumb_360_360_6-1P50G5353A35.jpg" width="360" height="360" " /></a>
                                    <span><a href="">茅台镇酱香散酒特1号</a></span>
                                </div>
                            </li>
                            <li>
                                <div class="c-box">
                                    <a class="c-img" href="http://www.daqianchao.com/sanjiu/1258.html"><img src=" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180507/thumb_360_360_6-1P50G5331ST.jpg" width="360" height="360" " /></a>
                                    <span><a href="">茅台镇酱香散酒二号酒</a></span>
                                </div>
                            </li>

                        </ul>
                    </div>
                    <div class="ul d-img">
                        <ul>
                            <li>
                                <div class="c-box">
                                    <a class="c-img" href="http://www.daqianchao.com/cpzx/yuanjiangjiu/2576.html"><img src=" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/allimg/190329/3-1Z329112K50-L.jpg" width="360" height="360" " /></a>
                                    <span><a href="">黔朝·十五</a></span>
                                </div>
                            </li>
                            <li>
                                <div class="c-box">
                                    <a class="c-img" href="http://www.daqianchao.com/cpzx/yuanjiangjiu/2574.html"><img src=" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/allimg/190328/3-1Z32QF2240-L.jpg" width="360" height="360" " /></a>
                                    <span><a href="">黔朝·二十</a></span>
                                </div>
                            </li>
                            <li>
                                <div class="c-box">
                                    <a class="c-img" href="http://www.daqianchao.com/cpzx/yuanjiangjiu/2575.html"><img src=" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/allimg/190328/thumb_360_360_3-1Z32QK0440-L.jpg" width="360" height="360" " /></a>
                                    <span><a href=""> 黔朝·三十</a></span>
                                </div>
                            </li>
                            <li>
                                <div class="c-box">
                                    <a class="c-img" href="http://www.daqianchao.com/cpzx/yuanjiangjiu/2573.html"><img src=" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/allimg/190328/3-1Z32Q556300-L.jpg" width="360" height="360" " /></a>
                                    <span><a href="">黔朝·荷花酒</a></span>
                                </div>
                            </li>
                            <li>
                                <div class="c-box">
                                    <a class="c-img" href="http://www.daqianchao.com/cpzx/yuanjiangjiu/1738.html"><img src=" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/171111/6-1G111110542114.jpg" width="360" height="360" " /></a>
                                    <span><a href="">茅台镇年份原浆酒小瓶</a></span>
                                </div>
                            </li>
                            <li>
                                <div class="c-box">
                                    <a class="c-img" href="http://www.daqianchao.com/cpzx/yuanjiangjiu/1740.html"><img src=" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/171111/6-1G11111143B23.jpg" width="360" height="360" " /></a>
                                    <span><a href="">大黔朝原浆酒大坛装</a></span>
                                </div>
                            </li>

                        </ul>
                    </div>
                    <div class="ul d-img">
                        <ul>
                            <li>
                                <div class="c-box">
                                    <a class="c-img" href="http://www.daqianchao.com/hunyan/2250.html"><img src=" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180317/thumb_360_360_9-1P31F95Z3P8.jpg" width="360" height="360" " /></a>
                                    <span><a href="">喜酒定制酒(布袋)</a></span>
                                </div>
                            </li>
                            <li>
                                <div class="c-box">
                                    <a class="c-img" href="http://www.daqianchao.com/hunyan/2245.html"><img src=" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180513/thumb_360_360_3-1P513143343263.jpg" width="360" height="360" " /></a>
                                    <span><a href="">家有喜事婚宴酒(布袋)</a></span>
                                </div>
                            </li>
                            <li>
                                <div class="c-box">
                                    <a class="c-img" href="http://www.daqianchao.com/hunyan/2244.html"><img src=" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180513/thumb_360_360_3-1P5131426261P.jpg" width="360" height="360" " /></a>
                                    <span><a href="">最新婚宴酒推荐(礼盒)</a></span>
                                </div>
                            </li>
                            <li>
                                <div class="c-box">
                                    <a class="c-img" href="http://www.daqianchao.com/hunyan/2243.html"><img src=" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180509/6-1P50914055A04.jpg" width="360" height="360" " /></a>
                                    <span><a href="">百年好合婚宴酒(礼盒)</a></span>
                                </div>
                            </li>
                            <li>
                                <div class="c-box">
                                    <a class="c-img" href="http://www.daqianchao.com/hunyan/2242.html"><img src=" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180511/3-1P5111K251135.jpg" width="360" height="360" " /></a>
                                    <span><a href="">洞藏婚宴酒定制(礼盒)</a></span>
                                </div>
                            </li>
                            <li>
                                <div class="c-box">
                                    <a class="c-img" href="http://www.daqianchao.com/hunyan/2238.html"><img src=" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180511/3-1P5111K222J1.jpg" width="360" height="360" " /></a>
                                    <span><a href="">婚宴酒水团购(礼盒)</a></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="div-hx" id="div-hx">
        <div class="div">
            <div class="box">
                <div class="row-hx">
                    <img src="http://www.daqianchao.com/templets/indd/image/lscp/lscp_hx.png" />
                </div>
            </div>
        </div>
    </div>

</div>


<div id="go2top" class="go2top">
    <div class="div">
        <div class="box">
            <div class="block row-btn">
                <a class="c-go2top" href="javascript:;"></a>
            </div>
        </div>
    </div>
</div>

<include file="public/foot" />

<script src="/Public/index/templets/in_dd/js/list_goods_cat.js" type="text/javascript"></script>

<include file="public/kefu" />
</body>
</html>
