<div id="call" class="call">
    <div class="div">
        <div class="box">
            <div class="block row-btn">
                <a href="javascript:;"><i>在线</i><u>客服</u></a>
            </div>
            <div class="block row-info">
                <a class="c-close" href="javascript:;">x</a>
                <h2>在线客服</h2>
                <form action="javascript:;">
                    <script>
                        document.write('<script type="text/javascript"  data-lxb-uid="26897337" data-lxb-gid="452643" src="http://lxbjs.baidu.com/api/asset/api.js?t=' + new Date().getTime() + '" charset="utf-8"></scr' + 'ipt>' );
                    </script>
                    <input class="c-input" id="lxb-tel" placeholder="请输入您的电话" />
                    <input class="c-btn" id="lxb-btn" type="submit" value="免费回电" />
                    <script>
                        document.getElementById("lxb-btn").onclick = function () {
                            lxb.call(document.getElementById("lxb-tel"));
                        };
                    </script>
                </form>
                <p>我们将立即回电。该通话对您免费！请直接输入11位手机号。</p>
                <ins>
                    <a class="c-tel" href="tel:17120821111">电话咨询</a>
                    <a class="c-ask" href="http://p.qiao.baidu.com/cps/chat?siteId=12886396&userId=26897337" target="_blank">在线咨询</a>
                </ins>
            </div>
        </div>
    </div>
</div>

<!-- seo -->
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?f6238fd74677fcfd40d111a22afefc0e";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
<p>&nbsp;</p>