<include file="public/head" />

    <link href="/Public/index/templets/in_dd/css/list_goods.css" type="text/css" rel="stylesheet" />

<include file="public/top" />

<include file="public/menu" />


<div id="main" class="main">
    <div id="div-banner" class="div-banner"></div>

    <div id="div-path" class="div-path">
        <div class="div">
            <div class="box">

                <div class="block row-path">
                    <div>
                        <i>当前位置：</i>
                        <span><a href="/">首页</a><small>&gt;</small><a href='http://www.daqianchao.com/lscp/'>零售产品</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="div-list" class="div-list">
        <div class="div">
            <div class="p-menu">
                <div class="box">

                    <div class="block row-menu">
                        <div class="h2"><h2>零售产品</h2></div>
                        <div class="ul">
                            <ul><li class="col1"><a href="/qianchaojiuye/chanpin/qianchaoniang/">黔朝酿</a></li><li class="col2"><a href="/qianchaojiuye/chanpin/dongcangjingpin/">洞藏精品</a></li><li class="col3 col-1"><a href="/qianchaojiuye/chanpin/cangjianjiulou/">藏剑酒楼</a></li></ul>
                        </div>
                    </div>

                    <div class="block row-hot">
                        <div class="h2"><h2>热门推荐</h2></div>
                        <div class="ul">
                            <ul>
                                <li><a href="http://www.daqianchao.com/qianchaojiuye/2269.html"><i>197</i><em>1</em><span>藏剑酒、真心好喝</span></a></li>
                                <li><a href="http://www.daqianchao.com/qianchaojiuye/2262.html"><i>194</i><em>2</em><span>洞藏精品之洞藏美</span></a></li>
                                <li><a href="http://www.daqianchao.com/qianchaojiuye/2265.html"><i>190</i><em>3</em><span>洞藏酒之自然美</span></a></li>
                                <li><a href="http://www.daqianchao.com/qianchaojiuye/2259.html"><i>183</i><em>4</em><span>黔朝酿酒定制</span></a></li>
                                <li><a href="http://www.daqianchao.com/qianchaojiuye/2267.html"><i>160</i><em>5</em><span>藏剑酒之酒楼</span></a></li>
                                <li><a href="http://www.daqianchao.com/qianchaojiuye/2257.html"><i>159</i><em>6</em><span>黔朝酿</span></a></li>
                                <li><a href="http://www.daqianchao.com/qianchaojiuye/2260.html"><i>125</i><em>7</em><span>酿酒之酒精品</span></a></li>
                                <li><a href="http://www.daqianchao.com/qianchaojiuye/2268.html"><i>96</i><em>8</em><span>藏剑酒之自然美</span></a></li>
                                <li><a href="http://www.daqianchao.com/qianchaojiuye/2258.html"><i>73</i><em>9</em><span>黔朝酿酒＂精品＂</span></a></li>
                                <li><a href="http://www.daqianchao.com/qianchaojiuye/2261.html"><i>56</i><em>10</em><span>洞藏、精品</span></a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-list">
                <div class="box">
                    <div class="block row-list">
                        <div class="ul b-list">
                            <ul>
                                <li>
                                    <div class="c-box">
                                        <a class="c-img" href="http://www.daqianchao.com/qianchaojiuye/2265.html"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180512/thumb_300_300_3-1P5121613191B.jpg" width="300" height="300" /><em>洞藏酒之自然美</em></a>
                                        <span><i>香型：酱香型</i><i>酒精度：53%</i></span>
                                    </div>
                                </li><li>
                                <div class="c-box">
                                    <a class="c-img" href="http://www.daqianchao.com/qianchaojiuye/2267.html"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180512/thumb_300_300_3-1P512161242952.jpg" width="300" height="300" /><em>藏剑酒之酒楼</em></a>
                                    <span><i>香型：酱香型</i><i>酒精度：53%</i></span>
                                </div>
                            </li><li>
                                <div class="c-box">
                                    <a class="c-img" href="http://www.daqianchao.com/qianchaojiuye/2258.html"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180512/thumb_300_300_3-1P512114259543.jpg" width="300" height="300" /><em>黔朝酿酒＂精品＂</em></a>
                                    <span><i>香型：酱香型</i><i>酒精度：53%</i></span>
                                </div>
                            </li><li>
                                <div class="c-box">
                                    <a class="c-img" href="http://www.daqianchao.com/qianchaojiuye/2266.html"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180512/thumb_300_300_3-1P512114230U0.jpg" width="300" height="300" /><em>藏剑酒</em></a>
                                    <span><i>香型：酱香型</i><i>酒精度：53%</i></span>
                                </div>
                            </li><li>
                                <div class="c-box">
                                    <a class="c-img" href="http://www.daqianchao.com/qianchaojiuye/2257.html"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/allimg/180412/thumb_300_300_3-1P4121056050-L.jpg" width="300" height="300" /><em>黔朝酿</em></a>
                                    <span><i>香型：酱香型</i><i>酒精度：53%</i></span>
                                </div>
                            </li><li>
                                <div class="c-box">
                                    <a class="c-img" href="http://www.daqianchao.com/qianchaojiuye/2259.html"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/allimg/180412/thumb_300_300_3-1P4121230350-L.jpg" width="300" height="300" /><em>黔朝酿酒定制</em></a>
                                    <span><i>香型：酱香型</i><i>酒精度：53%</i></span>
                                </div>
                            </li><li>
                                <div class="c-box">
                                    <a class="c-img" href="http://www.daqianchao.com/qianchaojiuye/2260.html"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/allimg/180412/thumb_300_300_3-1P4121232530-L.jpg" width="300" height="300" /><em>酿酒之酒精品</em></a>
                                    <span><i>香型：酱香型</i><i>酒精度：53%</i></span>
                                </div>
                            </li><li>
                                <div class="c-box">
                                    <a class="c-img" href="http://www.daqianchao.com/qianchaojiuye/2268.html"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/allimg/180412/thumb_300_300_3-1P4121239420-L.jpg" width="300" height="300" /><em>藏剑酒之自然美</em></a>
                                    <span><i>香型：酱香型</i><i>酒精度：53%</i></span>
                                </div>
                            </li><li>
                                <div class="c-box">
                                    <a class="c-img" href="http://www.daqianchao.com/qianchaojiuye/2269.html"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/allimg/180412/thumb_300_300_3-1P4121240140-L.jpg" width="300" height="300" /><em>藏剑酒、真心好喝</em></a>
                                    <span><i>香型：酱香型</i><i>酒精度：53%</i></span>
                                </div>
                            </li>
                            </ul>
                        </div>
                        <div class="ul d-pager">
                            <ul>
                                <li>首页</li>
                                <li class="thisclass">1</li>
                                <li><a href='list_202_2.html'>2</a></li>
                                <li><a href='list_202_2.html'>下一页</a></li>
                                <li><a href='list_202_2.html'>末页</a></li>
                                <li><select name='sldd' style='width:36px' onchange='location.href=this.options[this.selectedIndex].value;'>
                                    <option value='list_202_1.html' selected>1</option>
                                    <option value='list_202_2.html'>2</option>
                                </select></li>
                                <li><span class="pageinfo">共 <strong>2</strong>页<strong>12</strong>条</span></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="go2top" class="go2top">
    <div class="div">
        <div class="box">
            <div class="block row-btn">
                <a class="c-go2top" href="javascript:;"></a>
            </div>
        </div>
    </div>
</div>


<include file="public/foot" />

<script src="/Public/index/templets/in_dd/js/list_goods.js" type="text/javascript"></script>

<include file="public/kefu" />
</body>
</html>

