<include file="public/head" />


    <link href="/Public/index/templets/in_dd/css/list_arc_baijiu_cat.css" type="text/css" rel="stylesheet" />
    <link href="/Public/index/templets/in_dd/css/div_arc_slide_baijiu.css" type="text/css" rel="stylesheet" />


<include file="public/top" />

<include file="public/menu" />



<div id="div-slide" class="div-slide">
    <div class="div">
        <div class="box">
            <div class="block row-slide slide c-center">
                <div class="ul">
                    <ul>
                        <li class="col1">
                            <a class="c-img" href="/">
                            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/templets/indd/image/baijiu/banner2.jpg" data-bg="1"/></a></li>
                        <li class="col2 col-1"><a class="c-img" href="/">
                            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/templets/indd/image/baijiu/banner3.jpg" data-bg="1"/></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="main" class="main">
    <!--
    <div id="div-note" class="div-note">
        <div class="div">
            <div class="box">
                <div class="block row-list">
                    <div class="h2">
                        <h2><a href="http://www.daqianchao.com/baijiu/zhishi/">新闻中心</a></h2>
                    </div>
                    <div class="ul d-dot">
                        <ul>
                            <li>
                                <div>
                                    <i>2016-04-25</i>
                                    <a href="http://www.daqianchao.com/xinwen/meiti/97.html">白酒勾兑技术是传统酿酒工艺，与酒好不好不</a>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <i>2016-04-25</i>
                                    <a href="http://www.daqianchao.com/xinwen/meiti/98.html">茅台镇酱香型白酒生产工艺,特殊酿酒法</a>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
   -->
    <!-- 浮动导航 -->

    <div id="div-nav" class="div-nav">
        <div class="div">
            <div class="box">
                <div class="block row-list">
                    <div class="ul">
                        <ul>
                            <li class="col1"><a href="javascript:;">白酒系列</a></li>
                            <li class="col2"><a href="javascript:;">香型种类</a></li>
                            <li class="col3"><a href="javascript:;">白酒知识</a></li>
                            <!--<li class="col4"><a href="javascript:;">白酒视频</a></li>-->
                            <li class="col5"><a href="javascript:;">加盟案例</a></li>
                            <li class="col6"><a href="javascript:;">相关问题</a></li>
                            <li class="col7"><a href="javascript:;">产品推荐</a></li>
                            <li class="col8 col-1"><a href="javascript:;">加盟留言</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div  class="div-goods div-tab">
        <div class="div">
            <div class="box">
                <div class="block row-menu">
                    <div class="h2">
                        <h2><a href="{:U('drink/index')}">白酒系列</a></h2>
                    </div>
                    <div class="ul">
                        <ul>
                            <volist name="cates" id="vo" key="k">
                                <li  <eq name="Think.get.pid" value="$vo.id"> class="col{$k} on" </eq> ><a href="{:U('drink/baijiu',array('pid'=>$vo['id']))}">{$vo.title}</a></li>
                            </volist>

                        </ul>
                    </div>
                </div>
                <div class="block row-list">
                    <div class="part-block">
                        <div class="ul d-img">
                            <ul>
                                <volist name="list_pros" id="vo">
                                <li>
                                    <div>
                                        <a class="c-img" href="{:U('protuct/detail',array('id'=>$vo['id'],'pid'=>$vo['pid']))}">
                                            <img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="/Uploads/{$vo.img}" width="300" height="300" /></a>
                                        <span><a href="{:U('protuct/detail',array('id'=>$vo['id'],'pid'=>$vo['pid']))}">{$vo.title}</a></span>
                                    </div>
                                </li>
                                    </volist>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="div-xx" class="div-xx div-tab">
        <div class="div">
            <div class="box">
                <div class="block row-th">
                    <div class="h2 th1">
                        <h2><a href="{:U('drink/index',array('id'=>10))}">香型种类</a></h2>
                    </div>
                </div>
                <div class="block row-list">
                    <div class="ul d-img">
                        <ul>
                            <volist name="beer" id="vo" key="k" >
                                <li>
                                    <div>
                                        <em><a href="{:U('drink/detail',array('id'=>$vo['id'],'pid'=>$vo['pid']))}">

                                            <switch name="k">
                                                <case value="1"> <i>凤香型</i><u>FENG - FLAVOR TYPE</u>.</case>
                                                <case value="2"> <i>兼香型</i><u>JIAN - FLAVOR TYPE</u></case>
                                                <case value="3"><i>米香型</i><u>MI - FLAVOR TYPE</u></case>
                                                <case value="4"> <i>清香型</i><u>QING - FLAVOR TYPE</u></case>
                                                <case value="5"> <i>浓香型</i><u>NONG - FLAVOR TYPE</u></case>
                                                <default /><i>酱香型</i><u>JIANG - FLAVOR TYPE</u>
                                            </switch>
                                        </a>
                                        </em>
                                        <ins>
                                            <a class="c-img" href="{:U('drink/detail',array('id'=>$vo['id'],'pid'=>$vo['pid']))}">
                                                <img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="/Uploads/{$vo.img}" width="300" height="300" /></a>
                                            <p><a href="{:U('drink/detail',array('id'=>$vo['id'],'pid'=>$vo['pid']))}">{$vo.desc|default=''}</a></p>
                                        </ins>
                                    </div>
                                </li>
                            </volist>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="div-zs" class="div-zs div-tab">
        <div class="div">
            <div class="box">
                <div class="block row-th">
                    <div class="h2 th1">
                        <h2><a href="{:U('drink/index',array('id'=>9))}">白酒知识</a></h2>
                    </div>
                </div>
                <div class="part-list">
                    <div class="block row-list">
                        <div class="part-block">
                            <div class="h2">
                                <a class="c-more" href="{:U('drink/index')}">更多</a>
                                <h2><a href="{:U('drink/index',array('id'=>16))}">白酒勾兑</a></h2>
                            </div>
                            <div class="ul d-img">
                                <ul>
                                    <volist name="gou" id="vo">
                                        <li>
                                            <a class="c-img" href="{:U('drink.detail',array('id'=>$vo['id'],'pid'=>$vo['pid']))}">
                                                <img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="/Uploads/{$vo.img}" width="200" height="120" /></a>
                                            <ins>
                                                <span><a href="{:U('drink.detail',array('id'=>$vo['id'],'pid'=>$vo['pid']))}">{$vo.title}</a></span>
                                                <p><a href="{:U('drink.detail',array('id'=>$vo['id'],'pid'=>$vo['pid']))}">{$vo.desc|mb_substr='0','30','utf-8'}</a></p>
                                            </ins>
                                        </li>
                                    </volist>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="block row-list">
                    <div class="part-block">
                        <div class="h2">
                            <a class="c-more" href="{:U('drink/index')}">更多</a>
                            <h2><a href="{:U('drink/index',array('id'=>16))}">白酒保存</a></h2>
                        </div>
                        <div class="ul d-img">
                            <ul>


                                <volist name="bao" id="vo">
                                    <li>
                                        <a class="c-img" href="{:U('drink.detail',array('id'=>$vo['id'],'pid'=>$vo['pid']))}">
                                            <img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="/Uploads/{$vo.img}" width="200" height="120" /></a>
                                        <ins>
                                            <span><a href="{:U('drink.detail',array('id'=>$vo['id'],'pid'=>$vo['pid']))}">{$vo.title}</a></span>
                                            <p><a href="{:U('drink.detail',array('id'=>$vo['id'],'pid'=>$vo['pid']))}">{$vo.desc|mb_substr='0','30','utf-8'}</a></p>
                                        </ins>
                                    </li>
                                </volist>

                            </ul>
                        </div>
                    </div>
                </div>
                    <div class="block row-list">
                    <div class="part-block">
                        <div class="h2">
                            <a class="c-more" href="{:U('drink/index')}">更多</a>
                            <h2><a href="{:U('drink/index',array('id'=>16))}">白酒收藏</a></h2>
                        </div>
                        <div class="ul d-img">
                            <ul>
                                <volist name="shou" id="vo">
                                    <li>
                                        <a class="c-img" href="{:U('drink.detail',array('id'=>$vo['id'],'pid'=>$vo['pid']))}">
                                            <img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="/Uploads/{$vo.img}" width="200" height="120" /></a>
                                        <ins>
                                            <span><a href="{:U('drink.detail',array('id'=>$vo['id'],'pid'=>$vo['pid']))}">{$vo.title}</a></span>
                                            <p><a href="{:U('drink.detail',array('id'=>$vo['id'],'pid'=>$vo['pid']))}">{$vo.desc|mb_substr='0','30','utf-8'}</a></p>
                                        </ins>
                                    </li>
                                </volist>

                            </ul>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>

    <!--
    <dv id="div-video" class="div-video div-tab">
        <div class="div">
            <div class="box">
                <div class="block row-th">
                    <div class="h2">
                        <a class="c-more" href="http://www.daqianchao.com/baijiu/shipin/">更多视频</a>
                        <h2><a href="http://www.daqianchao.com/baijiu/shipin/">白酒视频</a></h2>
                    </div>
                </div>
                <div class="part-list">
                    <div class="block row-img">
                        <div class="ul d-img">
                            <ul>
                                <li>
                                    <a class="c-img" href="http://www.daqianchao.com/baijiu/shipin/1852.html">
                                        <img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/171214/thumb_600_350_6-1G214100943P4.jpg" width="600" height="350" />
                                        <i class="c-text">这样的白酒鉴别方法有人见过吗？</i>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="block row-list">
                        <div class="ul d-img">
                            <ul>
                                <li>
                                    <a class="c-img" href="http://www.daqianchao.com/baijiu/shipin/1851.html"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/171214/thumb_300_170_6-1G214093141393.jpg" width="300" height="170" /></a>
                                    <ins>
                                        <span><a href="http://www.daqianchao.com/baijiu/shipin/1851.html">用火烧法来鉴别白酒的真假！</a></span>
                                        <p><a href="http://www.daqianchao.com/baijiu/shipin/1851.html">我们都知道，白酒的鉴别有一种方式，那就是通过燃烧的方式，来进行辨别白酒的真假，所以，我们在用火烧法来进行鉴别白酒真假的时...</a></p>
                                    </ins>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </dv>
     -->
    <div id="div-jm" class="div-jm div-tab">
        <div class="div">
            <div class="box">
                <div class="block row-th">
                    <div class="h2 th1">
                        <h2><a href="{:U('')}">白酒加盟案例。</a></h2>
                    </div>
                </div>
                <div class="part-list">
                    <div class="block row-img">
                        <div class="ul d-img">
                            <ul>
                                <volist name="hezuo" id="vo" offset="0" lenght="1">
                                <li>
                                    <a class="c-img" href="{:U('cooperation/detail',array('id'=>$vo['id'],'pid'=>$vo['pid']))}">
                                        <img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="/Uploads/{$vo.img}" width="400" height="300" />
                                        <i class="c-text">{$vo.title}</i>
                                    </a>
                                </li>
                                </volist>
                            </ul>
                        </div>
                    </div>
                    <div class="part-arc">
                        <div class="part-arc-list">
                            <div class="block row-list">
                                <div class="part-block">
                                    <div class="h2">
                                        <a class="c-more" href="{:U('cooperation/index')}">更多</a>
                                        <h2><a href="{:U('cooperation/index',array('id'=>11))}">常见问题</a></h2>
                                    </div>
                                    <div class="ul d-dot">
                                        <ul>
                                            <volist name="que" id="vo">
                                                <li>
                                                    <i>{$vo.create_time|strtotime|date="Y-m-d",###}</i>
                                                    <a href="{:U('cooperation/detail',array('id'=>$vo['id'],'pid'=>$vo['pid']))}">{$vo.title}</a>
                                                </li>
                                            </volist>
                                        </ul>
                                    </div>
                                </div>
                            </div><div class="block row-list">
                            <div class="part-block">
                                <div class="h2">
                                    <a class="c-more" href="{:U('cooperation/index')}">更多</a>
                                    <h2><a href="{:U('cooperation/index',array('id'=>10))}">合作案例</a></h2>
                                </div>
                                <div class="ul d-dot">
                                    <ul>
                                        <volist name="hezuo" id="vo">
                                            <li>
                                                <i>{$vo.create_time|strtotime|date="Y-m-d",###}</i>
                                                <a href="{:U('cooperation/detail',array('id'=>$vo['id'],'pid'=>$vo['pid']))}">{$vo.title}</a>
                                            </li>
                                        </volist>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="div-wt" class="div-wt div-tab">
        <div class="div">
            <div class="box">
                <div class="block row-th">
                    <div class="h2 th1">
                        <h2><a href="{:U('drink/index')}">白酒相关问题</a></h2>
                    </div>
                </div>
                <div class="part-list">
                    <div class="block row-list">
                        <div class="part-block">
                            <div class="h2">
                                <a class="c-more" href="{:U('drink/index')}">MORE<small>+</small></a>
                                <h2><a href="{:U('drink/index',array('id'=>13))}">白酒价格</a></h2>
                            </div>
                            <div class="ul d-dot">
                                <ul>
                                    <li>
                                        <span><a href="{:U('drink/detail',array('id'=>$price['id'],'pid'=>$price['pid']))}">{$price.title}</a></span>
                                        <p><a href="{:U('drink/detail',array('id'=>$price['id'],'pid'=>$price['pid']))}">{$price.desc|mb_substr='0','30','utf-8'}</a></p>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="block row-list">
                    <div class="part-block">
                        <div class="h2">
                            <a class="c-more" href="{:U('drink/index')}">MORE<small>+</small></a>
                            <h2><a href="{:U('drink/index',array('id'=>14))}">白酒品牌</a></h2>
                        </div>
                        <div class="ul d-dot">
                            <ul>
                                <li>
                                    <span><a href="{:U('drink/detail',array('id'=>$pai['id'],'pid'=>$pai['pid']))}">{$pai.title}</a></span>
                                    <p><a href="{:U('drink/detail',array('id'=>$pai['id'],'pid'=>$pai['pid']))}">{$pai.desc|mb_substr='0','30','utf-8'}</a></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                    <div class="block row-list">
                    <div class="part-block">
                        <div class="h2">
                            <a class="c-more" href="{:U('drink/index')}">MORE<small>+</small></a>
                            <h2><a href="{:U('drink/index',array('id'=>9))}">白酒文化</a></h2>
                        </div>
                        <div class="ul d-dot">
                            <ul>
                                <li>
                                    <span><a href="{:U('drink/detail',array('id'=>$know['id'],'pid'=>$know['pid']))}">{$know.title}</a></span>
                                    <p><a href="{:U('drink/detail',array('id'=>$know['id'],'pid'=>$know['pid']))}">{$know.desc|mb_substr='0','30','utf-8'}</a></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                    <div class="block row-list">
                    <div class="part-block">
                        <div class="h2">
                            <a class="c-more" href="{:U('drink/index')}">MORE<small>+</small></a>
                            <h2><a href="{:U('drink/index',array('id'=>15))}">白酒度数</a></h2>
                        </div>
                        <div class="ul d-dot">
                            <ul>
                                <li>
                                    <span><a href="{:U('drink/detail',array('id'=>$du['id'],'pid'=>$du['pid']))}">{$du.title}</a></span>
                                    <p><a href="{:U('drink/detail',array('id'=>$du['id'],'pid'=>$du['pid']))}">{$du.desc|mb_substr='0','30','utf-8'}</a></p>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                    <div class="block row-list">
                    <div class="part-block">
                        <div class="h2">
                            <a class="c-more" href="{:U('drink/index')}">MORE<small>+</small></a>
                            <h2><a href="{:U('drink/index',array('id'=>18))}">白酒保存</a></h2>
                        </div>
                        <div class="ul d-dot">
                            <ul>
                                <li>
                                    <span><a href="{:U('drink/detail',array('id'=>$bao['id'],'pid'=>$bao['pid']))}">{$bao.title}</a></span>
                                    <p><a href="{:U('drink/detail',array('id'=>$bao['id'],'pid'=>$bao['pid']))}">{$bao.desc|mb_substr='0','30','utf-8'}</a></p>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>

    <div id="div-tj" class="div-tj div-tab">
        <div class="div">
            <div class="box">
                <div class="block row-th">
                    <div class="h2 th1">
                        <h2><a href="">产品推荐</a></h2>
                    </div>
                </div>
                <div class="block row-list slide">
                    <a class="c-page c-pre" href="javascript:;">&lt;</a>
                    <a class="c-page c-next" href="javascript:;">&gt;</a>
                    <div class="part-block">
                        <div class="ul d-img">
                            <ul>
                                <volist name="hun" id="vo">
                                    <li>
                                        <div>
                                            <a class="c-img" href="{:U('protuct/detail',array('id'=>$vo['id']))}">
                                                <img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="/Uploads/{$vo.img}" width="300" height="300" /></a>
                                            <span><a href="{:U('protuct/detail',array('id'=>$vo['id']))}">{$vo.title}</a></span>
                                        </div>
                                    </li>
                                </volist>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="div-msg" class="div-msg div-tab">
        <div class="div">
            <div class="box">
                <div class="block row-th">
                    <div class="h2">
                        <h2><i>LEAVE A MESSAGE</i><em>加盟留言</em></h2>
                    </div>
                </div>
                <div class="part-box">
                    <div class="block row-info">
                        <div class="ul">
                            <form name="msg" action="http://www.daqianchao.com/plus/diy.php" enctype="multipart/form-data" method="post">
                                <ul>
                                    <li class="col-name col-input">
                                        <b>姓名：</b>
                                        <span><input class="c-input" type="text" placeholder="请输入您的姓名" /></span>
                                    </li>
                                    <li class="col-tel col-input">
                                        <b>手机号码：</b>
                                        <span><input class="c-input" type="text" placeholder="请输入您的手机号码" /></span>
                                    </li>
                                    <li class="col-qq col-input">
                                        <b>QQ/微信：</b>
                                        <span><input class="c-input" type="text" placeholder="请输入您的qq/微信" /></span>
                                    </li>
                                    <li class="col-content col-text">
                                        <b>留言：</b>
                                        <span><textarea placeholder="请输入留言内容"></textarea></span>
                                    </li>
                                    <li class="col-submit">
                                        <b> </b>
                                        <span>
                                            <input class="c-ok" type="submit" value="提交" />
                                            <input class="c-reset" type="reset" value="重置" />
                                        </span>
                                    </li>
                                </ul>
                            </form>
                        </div>
                    </div>
                    <div class="block row-list">
                        <div class="h2"><h2>客户留言</h2></div>
                        <div class="ul">
                            <ul>
                                <li>
                                    <div>
                                        <b>113213</b>
                                        <span>
                                        <u>电话：131****9563</u>
                                        <i>时间：2019-05-07 13:38</i>
                                    </span>
                                        <p><i>问题：</i>酒</p>
                                    </div>
                                </li><li>
                                <div>
                                    <b>张玉光</b>
                                    <span>
                                        <u>电话：152****7577</u>
                                        <i>时间：2019-04-25 10:59</i>
                                    </span>
                                    <p><i>问题：</i>代理</p>
                                </div>
                            </li><li>
                                <div>
                                    <b>王乐</b>
                                    <span>
                                        <u>电话：133****7550</u>
                                        <i>时间：2019-04-18 17:33</i>
                                    </span>
                                    <p><i>问题：</i>请厂家联系我</p>
                                </div>
                            </li><li>
                                <div>
                                    <b>高仲贤</b>
                                    <span>
                                        <u>电话：139****4182</u>
                                        <i>时间：2019-04-18 07:52</i>
                                    </span>
                                    <p><i>问题：</i>请问酱酒散酒吨酒价位，有几个档次。</p>
                                </div>
                            </li><li>
                                <div>
                                    <b>叶先生</b>
                                    <span>
                                        <u>电话：139****4249</u>
                                        <i>时间：2019-03-22 22:41</i>
                                    </span>
                                    <p><i>问题：</i>散酒代理</p>
                                </div>
                            </li><li>
                                <div>
                                    <b>李军</b>
                                    <span>
                                        <u>电话：182****4771</u>
                                        <i>时间：2019-03-18 15:03</i>
                                    </span>
                                    <p><i>问题：</i>你好</p>
                                </div>
                            </li><li>
                                <div>
                                    <b>吴卫民</b>
                                    <span>
                                        <u>电话：156****4666</u>
                                        <i>时间：2019-03-10 21:29</i>
                                    </span>
                                    <p><i>问题：</i>代理</p>
                                </div>
                            </li><li>
                                <div>
                                    <b>李宗杰</b>
                                    <span>
                                        <u>电话：152****7678</u>
                                        <i>时间：2019-02-25 20:45</i>
                                    </span>
                                    <p><i>问题：</i>了解一下</p>
                                </div>
                            </li><li>
                                <div>
                                    <b>徐邦全</b>
                                    <span>
                                        <u>电话：133****9726</u>
                                        <i>时间：2019-02-19 23:17</i>
                                    </span>
                                    <p><i>问题：</i>申请加盟代理商，四川成都市高新西区犀浦镇自己的商业门面</p>
                                </div>
                            </li><li>
                                <div>
                                    <b>张银芳</b>
                                    <span>
                                        <u>电话：131****3069</u>
                                        <i>时间：2019-02-19 15:02</i>
                                    </span>
                                    <p><i>问题：</i>想加盟茅台镇散酒</p>
                                </div>
                            </li><li>
                                <div>
                                    <b>王经理</b>
                                    <span>
                                        <u>电话：152****3366</u>
                                        <i>时间：2019-02-18 10:05</i>
                                    </span>
                                    <p><i>问题：</i>你好  我们做运营商数据采集的,可以帮你们采集到同行竞价等推广页面的访客信息,开发匹配精准客户资源,有兴趣了解一下吗? 微信：wangxiancai0420王经理

                                    </p>
                                </div>
                            </li><li>
                                <div>
                                    <b>18739160815</b>
                                    <span>
                                        <u>电话：187****0815</u>
                                        <i>时间：2018-12-18 17:08</i>
                                    </span>
                                    <p><i>问题：</i>怎么代理</p>
                                </div>
                            </li><li>
                                <div>
                                    <b>13043918115</b>
                                    <span>
                                        <u>电话：130****8115</u>
                                        <i>时间：2018-12-18 17:07</i>
                                    </span>
                                    <p><i>问题：</i>怎么代理</p>
                                </div>
                            </li><li>
                                <div>
                                    <b>李晓明</b>
                                    <span>
                                        <u>电话：135****1071</u>
                                        <i>时间：2018-12-12 10:52</i>
                                    </span>
                                    <p><i>问题：</i>了解贵厂酒的销售政策。</p>
                                </div>
                            </li><li>
                                <div>
                                    <b>朱先生</b>
                                    <span>
                                        <u>电话：152****7020</u>
                                        <i>时间：2018-11-30 14:07</i>
                                    </span>
                                    <p><i>问题：</i>有意向加盟，请来电联系加盟事宜</p>
                                </div>
                            </li><li>
                                <div>
                                    <b>张廷兰</b>
                                    <span>
                                        <u>电话：139****5298</u>
                                        <i>时间：2018-11-26 22:43</i>
                                    </span>
                                    <p><i>问题：</i>咨询想做酒生意</p>
                                </div>
                            </li><li>
                                <div>
                                    <b>张廷兰</b>
                                    <span>
                                        <u>电话：139****5298</u>
                                        <i>时间：2018-11-26 22:43</i>
                                    </span>
                                    <p><i>问题：</i>咨询想做酒生意</p>
                                </div>
                            </li><li>
                                <div>
                                    <b>朱先生</b>
                                    <span>
                                        <u>电话：152****7020</u>
                                        <i>时间：2018-11-26 09:57</i>
                                    </span>
                                    <p><i>问题：</i>有意向加盟，请来电联系加盟事宜</p>
                                </div>
                            </li><li>
                                <div>
                                    <b>杨建</b>
                                    <span>
                                        <u>电话：134****5665</u>
                                        <i>时间：2018-11-25 21:15</i>
                                    </span>
                                    <p><i>问题：</i>想做代理</p>
                                </div>
                            </li><li>
                                <div>
                                    <b>朱先生</b>
                                    <span>
                                        <u>电话：186****3888</u>
                                        <i>时间：2018-10-15 01:07</i>
                                    </span>
                                    <p><i>问题：</i>我想买二百斤散装白酒</p>
                                </div>
                            </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="div-flink" class="div-flink">
        <div class="div">
            <div class="box">
                <div class="block row-link">
                    <div class="h2"><h2><em><u>友</u>情链接</em><i> / LINKS</i></h2></div>
                    <div class="ul">
                        <ul>
                           <volist name="foot" id="vo">
                               <li><a href="{$vo.value}" target='_blank'>{$vo.key}</a> </li>
                           </volist>


                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div id="go2top" class="go2top">
    <div class="div">
        <div class="box">
            <div class="block row-btn">
                <a class="c-go2top" href="javascript:;"></a>
            </div>
        </div>
    </div>
</div>

<include file="public/foot" />
<script src="/Public/index/templets/in_dd/js/list_arc_baijiu_cat.js" type="text/javascript"></script>

<script type="text/javascript" src="http://push.zhanzhang.baidu.com/push.js"></script>
</body>
</html>
